a{
  cursor: pointer;
}
#navroot{
  height: 10%;
}

.check-input{
  margin-left: 0;
}

.join-in-toggle {
  margin-right: 200px;
  padding-right: 200px;
}

.ghostclose{
  background-color: transparent;
  border: transparent;
}

#cityselect{
  background-color: transparent;
  border: transparent;
  min-height: 1rem;
}

#listvenuebutton{
  border: solid 1px black;
}

