a{
  cursor: pointer;
}
#navroot{
  height: 10%;
}

.hiwitem{
  background-color: #00688B;
  width: 10vw;
  cursor: pointer;

}
.hiwbutton{
  position: relative;
  top: 20%;
  left: 15%;
  color: white

}

.check-input{
  margin-left: 0;
}

.join-in-toggle {
  margin-right: 200px;
  padding-right: 200px;
}

.ghostclose{
  background-color: transparent;
  border: transparent;
}

#cityselect{
  background-color: transparent;
  border: transparent;
  min-height: 1rem;
}

#listvenuebutton{
  border: solid 1px black;
}

