
.picturecontainer{
  background-size: cover;
  border: solid black 1px;
  width: 250px;
  height: 250px;

}

.pictureplaceholder{
  background-image: url(../../../../assets/images/profilepictureplaceholder/PersonPlaceholder.png);
}
