<div class="container-fluid"> <!--rootcontainer-->
  <div class="row"> <!--welcome message-->
    <div class="col-12">
      <h4 *ngIf="venueadminpermission"><strong>Welcome {{userobject.name}}!</strong></h4>
      <h4 *ngIf="suitsadminpermission"><strong> {{userobject.name}}'s Venue Admin Profile</strong></h4>
    </div>
  </div> <!--welcome message-->
  <div class="row"> <!-- profile picture and form-->
    <div class="col-4"> <!--profile picture div-->
      <div *ngIf="userobject.userphoto != null" class="picturecontainer" [ngStyle]="{'background-image': 'url(' + userobject.userphoto + ')'}">
      </div>
      <div *ngIf=" userobject.userphoto == null && !uploadphotoform" class="text-center">
        <div class="picturecontainer pictureplaceholder"> <!--picturecontainer div-->
        </div> <!--picturecontainer div-->
      </div>
      <div class="text-left">
        <br>
        <button *ngIf="userobject.userphoto == null && !uploadphotoform"  class="btn btn-outline-primary" (click)="showuploadphotoform()">Add Photo</button>
        <button *ngIf="userobject.userphoto !== null && !uploadphotoform" (click)="showuploadphotoform()" class="btn btn-outline-primary">+ Upload New Photo</button>
        <div *ngIf="uploadphotoform">
          <input (change)="uploadphoto($event)" type="file"
                 id="photoupload"
                 name="photoupload"
                 accept=".jpg, .jpeg, .png">
          <button class="btn btn-outline-danger" (click)="unshowuploadphotoform()">Cancel</button>
        </div>
      </div>
    </div>
    <div class="col-5"> <!--form div-->
      <div class="row">
        <div class="col-auto">
          <h4 *ngIf="!editform && !passwordform">Personal Information</h4>
          <h4 *ngIf="editform && !passwordform">Edit Personal Information</h4>
          <h4 *ngIf="passwordform">Change Password</h4>
        </div>
        <div class="col-1">
          <a *ngIf="!editform" (click)="showeditform()" class="STnormallink" style="cursor: pointer; text-decoration: underline">Edit</a>
        </div>
      </div>

      <form (ngSubmit)="editpersonalinfo()" #personalinfoform="ngForm">
        <div *ngIf="editform && !passwordform" class="row"> <!--real form div-->
          <div class="col-12">
            <label for="nameinput">Name</label>
            <br>
            <input type="text"
                   placeholder="First and Last Name"
                   id="nameinput"
                   name="nameinput"
                   [ngModel]="userobject.name">
            <br>
          </div>
          <div class="col-12">
            <label for="emailinput">Email</label>
            <br>
            <input type="email"
                   placeholder="Email Address"
                   id="emailinput"
                   name="emailinput"
                   [ngModel]="userobject.email">
            <br>
          </div>
          <div class="col-12">
            <label for="phoneinput">Phone</label>
            <br>
            <input type="text"
                   placeholder="Phone (digits only)"
                   id="phoneinput"
                   name="phoneinput"
                   pattern="[0-9]+"
                   [ngModel]="userobject.phone">
            <br>
          </div>
          <div class="col-12">
            <label for="jobtitleinput">Job Title</label>
            <br>
            <input type="text"
                   placeholder="Job Title"
                   id="jobtitleinput"
                   name="jobtitleinput"
                   [ngModel]="userobject.jobtitle">
            <br>
          </div>
          <div class="col-12">
            <br>
            <button class="btn btn-danger" (click)="unshoweditform()">Cancel</button> &nbsp;

            <button class="btn btn-primary" type="submit">Apply Edits</button>
          </div>
        </div>
      </form>
        <div *ngIf="!editform && !passwordform" class="col-12">
          <label>User ID:</label> &nbsp; {{userobject.pk}}
          <br>
          <label>Name:</label> &nbsp;{{userobject.name}}
          <br>
          <label>Email:</label> &nbsp;{{userobject.email}}
          <br>
          <label>Phone:</label> &nbsp; {{userobject.phone}}
          <br>
          <label>Job Title:</label> &nbsp; {{userobject.jobtitle}}
          <br>
          <a *ngIf="venueadminpermission && userisself && !passwordform" (click)="showpasswordform()"  style="cursor: pointer; text-decoration: underline;">Change Password</a>
        </div>

      <div *ngIf="passwordform && !passwordupdatesucess && !passwordupdatesucess">
        <form (ngSubmit)="savepassword()" #passwordinputform="ngForm">
          <br>
          <label for="newpassword1">New Password</label>
          <br>
          <input (change)="checkpassword()"
                 class="passwordinput"
                 type="password"
                 id="newpassword1"
                 name="newpassword1"
                 ngModel>
          <br>
          <label for="newpassword2">Password Again</label>
          <br>
          <input (change)="checkpassword()"
                 class="passwordinput"
                 type="password"
                 id="newpassword2"
                 name="newpassword2"
                 ngModel>
          <br>
          <br>
          <span style="color: red" *ngIf="!passwordsmatch">Passwords do not match</span>
          <br>
          <br>
          <button class="btn btn-danger" (click)="unshowpasswordform()">Cancel</button> &nbsp;
          <button [disabled]="!passwordsmatch" class="btn btn-primary" type="submit">Update Password</button>
        </form>
      </div>
      <span *ngIf="passwordupdatesucess"><h4>Password Updated</h4></span>
    </div>
</div> <!-- real form div-->


