
.imagecontainer{
  background-size: cover;
  height: 300px;
  border: 1px solid black;
}

a{
  text-decoration: underline;
  color: #00b3ee;
  cursor: pointer;
}

.roomdiv {
  border: solid 1px black;
  margin-bottom: 25px;
}

