<div class="container"> <!-- root row-->
  <div class="row">
    <div class="col-4">
      <h3><strong>Room List</strong></h3>
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col-6" *ngIf="!venueobject.fullbuyout">
          <div class="float-right">
            <button class="btn btn-outline-primary" (click)="fullbuyouttoggle()">Offer Full Buyout</button>
          </div>

        </div>
        <div class="col-6">
          <div class="float-right">
            <button *ngIf="!roomadded" class="btn btn-outline-primary" (click)="addroom()">+ Add Room</button>
            <h4 *ngIf="roomadded">Room Added Below</h4>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <!--full buy out div-->
    <div class="col-md-4 roomdiv" *ngIf="venueobject.fullbuyout">
      <div>
        <div (click)="navigatetofullbuyout()" style="cursor: pointer" class="text-center">
          <br>
          <h4>Full Buyout</h4>
          <hr>
        </div>
        <div *ngIf="venueobject.venueimage_set.length > 0" (click)="navigatetofullbuyout()" style="cursor: pointer" class="imagecontainer"
             [ngStyle]="{'background-image': 'url(' + venueobject.venuefullbuyoutphoto_set[0].imageurl +')'}">
        </div> <!--imagecontainer-->
        <div *ngIf="venueobject.venueimage_set.length < 1" (click)="navigatetofullbuyout()" style="cursor: pointer" class="imagecontainer">
          <br>
          <h4 class="text-center">No Photo Uploaded</h4>
        </div>
        <div>
          <div class="text-center">
            <br>
            <div>
              <strong>Status:</strong>
            </div>
            <div *ngIf="!venueobject.fullbuyoutonline" >
              <strong style="color: red; font-style: italic;">Hidden</strong>
            </div>
            <div *ngIf="venueobject.fullbuyoutonline" >
              <strong style="color: green; font-style: italic">Public</strong>
            </div>
          </div>
          <hr>
          <div *ngIf="!showfullbuyoutdeleteconfrim" class="text-center">
            <button class="btn btn-danger" (click)="fullbuyoutdeleteconfrim()">Delete</button>
          </div>
          <div *ngIf="showfullbuyoutdeleteconfrim" class="text-center">
            <h4>Are you sure you want to remove this venues full buyout option?</h4>
            <br>
            <button (click)="cancelfullbuyoutdelete()" class=" btn STButton">Cancel</button>
            <button (click)="fullbuyouttoggle()" class=" btn btn-danger">Remove</button>
          </div>
          <br>
        </div>
      </div>
    </div> <!--full buy out div-->


    <div class="text-center" *ngIf="venuerooms.length < 1 && !venueobject.fullbuyout">
      <h3 style="color: #00b3ee">This Venue Has No Rooms. Click Add Room To Get Started</h3>
    </div>
    <!--room div-->
    <div class="col-md-4 roomdiv" *ngFor="let room of venuerooms; let i=index" >
      <div class="">
        <br>
        <div (click)="navigatetoroom(i)" style="cursor: pointer" class="text-center">
          <h4 *ngIf="room.name == null">Unnamed Room</h4>
          <h4 *ngIf="room.name != null">{{room.name}}</h4>
          <hr>
        </div>
        <div (click)="navigatetoroom(i)" style="cursor: pointer" *ngIf="room.roomimage_set.length > 0" class="imagecontainer"
             [ngStyle]="{'background-image': 'url(' + room.roomimage_set[0].imageurl +')'}">
        </div> <!--imagecontainer-->
        <div (click)="navigatetoroom(i)" style="cursor: pointer" *ngIf="room.roomimage_set.length < 1" class="imagecontainer">
          <br>
          <h4 class="text-center">No Photo Uploaded</h4>
        </div>
        <div>
          <div class="text-center">
            <br>
            <div>
              <strong>Status:</strong>
            </div>
            <div *ngIf="!room.online" class="">
              <strong style="color: red; font-style: italic;">Hidden</strong>
            </div>
            <div *ngIf="room.online" class="">
              <strong style="color: green; font-style: italic;">Public</strong>
            </div>
          </div>
          <hr>
          <div *ngIf="roomactiveindex != i" class="text-center">
            <button class=" btn btn-danger" (click)="deleteroomconfirm(i)" >Delete</button>
          </div>
          <div *ngIf="roomactiveindex === i" class="text-center">
            <h4>Sure you want to delete this room?</h4>
            <br>
            <button (click)="canceldelete()" class="btn STButton">Cancel</button>
            <button (click)="deleteroom(i)"  class="btn btn-danger">Delete</button>
          </div>
          <br>

        </div>
      </div>
    </div> <!--room div-->

  </div> <!--row-->
</div>










