<!--harry's code-->
<div id="filter" class="d-flex flex-column justify-content-center py-5">
  <div class="container">
    <div class=" row d-flex justify-content-between m-3 firstline">
      <div class="select-down col-lg-4 col-md-4 col-sm-6 py-2">

        <div *ngIf="choicesload" class="spinner-container">
          <div class="spinner"></div>
        </div>

        <ng-multiselect-dropdown *ngIf="!choicesload" [data]="neighborhoodchoices2" [settings]="neighborhooddropdownsettings" [(ngModel)]="neighborhoodmodel" [placeholder]="'Neighborhood'"  (ngModelChange)="applyfilters()"></ng-multiselect-dropdown>

      </div>

      <div class="select-down col-lg-4 col-md-4 col-sm-6 py-2">

        <div *ngIf="choicesload" class="spinner-container">
          <div class="spinner"></div>
        </div>

        <ng-multiselect-dropdown *ngIf="!choicesload" [data]="venuetypechoices2" [(ngModel)]="venuetypemodel" [settings]="venuetypedropdownsettings" (ngModelChange)="applyfilters()"  [placeholder]="'Type'"></ng-multiselect-dropdown>
      </div>

      <div class="select-down col-lg-4 col-md-4 col-sm-6 py-2">

        <div *ngIf="choicesload" class="spinner-container">
          <div class="spinner"></div>
        </div>

        <ng-multiselect-dropdown *ngIf="!choicesload" [data]="privacytypechoices2" [(ngModel)]="privacytypemodel" [settings]="privacydropdownsettings" (ngModelChange)="applyfilters()" [placeholder]="'Privacy'"></ng-multiselect-dropdown>
      </div>

    <div class="select-down col-lg-4 col-md-4 col-sm-6 py-2">

      <div *ngIf="choicesload" class="spinner-container">
        <div class="spinner"></div>
      </div>

      <ng-multiselect-dropdown id="cuisinesselect" *ngIf="!choicesload" [data]="cuisinechoices" [(ngModel)]="cuisinemodel" [settings]="cuisinedropdownsettings" (ngModelChange)="applyfilters()" [placeholder]="'Cuisines'"></ng-multiselect-dropdown>
    </div>

    <div class="select-down col-lg-4 col-md-4 col-sm-6 py-2">
      <div *ngIf="choicesload" class="spinner-container">
        <div class="spinner"></div>
      </div>
      <ng-multiselect-dropdown id="amenityselect" *ngIf="!choicesload" [data]="ammenitieschoices" [(ngModel)]="ammenitiesmodel" [settings]=" ammenitiesdropdownsettings" (ngModelChange)="applyfilters()" [placeholder]="'Amenity'"></ng-multiselect-dropdown>
    </div>

    <form #capacityform="ngForm" class="col-lg-4 col-md-4 col-sm-6">
      <div class="row capacityrow">
        <div class="col-lg-6 col-md-7">
          <select (ngModelChange)="enablecapinput()"
                  id="seatingdropdown"
                  name="capacityselectinput"
                  class="form-control"
                  [ngModel]="capacityformreset">
            <option selected value="">Capacity</option>
            <option value="seated">Seated</option>
            <option value="standing">Standing</option>
          </select>
        </div>
        <div class="col-lg-6 col-md-5">
          <input type="text"
             (ngModelChange)="showcapacityfilterbutton()"
             [disabled]="disablecapacityinput"
             id="capacityamount"
             placeholder="Party Size"
             ngModel
             class="form-control"
             name="groupnumberinput">
        </div>
        <div *ngIf="capacityfilterbuttonshow" class="col-12">
          <button class="acfbutton btn" (click)="applyfilters()">Apply Capacity Filter</button>
        </div>

      </div>
    </form>
  </div>
  </div>

  <div class="container">
    <div class="filter-option">
      <a class="rightbuttons" (click)="clearfilters()" style="cursor: pointer; color: red;">Clear All</a>
    </div>
  </div>
</div>
<div *ngIf="!nosearch" class="container">
  <form (ngSubmit)="searchvenue()" #searchform="ngForm">
    <div class="row">
      <div class="col-lg-7 col-md-6 col-sm-6 col-xs-6">
          <input type="text"
                 placeholder="Search By Venue Name"
                 id="searchinput"
                 name="searchinput"
                 ngModel
                 class=" form-control input-gray">
      </div>
      <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
          <button id="searchbutton" type="submit" class=" btn btn-light-blue">Search</button>
      </div>
    </div>
  </form>
</div>

<!--
<div id="list-venue">
  <div class="container">
    <div id="venue-search" class="row d-flex justify-content-between mb-5">
      <!--<a href="#" class="btn col-3 px-0 py-5">Map view</a>
      <div class="col-3 px-0 py-5">
        <div class="container-fluid">
          <div class="row justify-content-end">
            <button class="btn-light-blue px-3">Map view</button>
          </div>
        </div>
      </div>
    </div>
-->
<div class="container">
<div class="row">
  <div class="col-12 text-left">
    <h4>{{filteredvenueslength}} Venues</h4>
  </div>
</div>
</div>
<app-venuelist></app-venuelist>

