$bg-gray:rgb(245,245,245);
$bg-white: white;

#filter {
  background-color: $bg-gray;

  .container {
    position: relative;
    background-color: $bg-white;

    .filter-option {
      display: inline-block;
      position: absolute;
      margin-top: 3vh;
      right: 2%;
      bottom: 2%;
      font-size: 8px;

    }

    .firstline {
      @media (min-width:992px) {
        padding-top: 50px;
      }
    }
  }
}

.acfbutton{
  margin-top: 1vh;
  width: 100%;
  color: #00b3ee;
  border-color: #00b3ee;

}

#venue-search {
  border-bottom: rgb(189,189,189) solid 5px;
}

.input-gray {
  border-radius: 5px;
  border: rgb(189,189,189) solid 1px;
}

.btn-light-blue {
  border-radius: 5px;
  border: rgb(68,147,192) solid 1px;
  color: rgb(68,147,192);
}

#amenityselect{
  display: block;
  width: 100%;
}

#cuisinesselect{
  display: block;
  width: 100%;
}

#seatingselect{
  display: block;
  position: relative;
  left: 11.5px;
  width: 18.5vw;
}

#seatingdropdown{
  position: relative;
  display: block;
  left: 3.5px;
  font-size: 14px;
}



#searchinput{
  width: 100%;
}

#searchbutton{
 width: 100%;
}

.rightbuttons{
  position: relative;
  top: 5vh;
  height: 30px;
  font-size: 16px;
  text-decoration: underline;
}

.capacityrow{
  position: relative;
  top: -20px;
}
