<div class="container-fluid" *ngIf="fullbuyoutedit"> <!--fullbuyout-->
  <div class="row">
    <div class="col-auto">
      <h3>{{venueobject.name}} Full Buyout</h3>
    </div>
  </div>
  <div class="row">
    <div *ngIf="deleteconfrimshow" class="col-auto">
      <strong>Are you sure you want to remove the full buyout option?</strong>
      <br>
      <button  (click)="unshowdeleteroomconfrim()" class=" btn STButton" >Cancel</button>
      <button (click)="deleteroom()" class="btn-danger">Delete Room</button>
    </div>
    <div *ngIf="!deleteconfrimshow" class="col-auto STnopadding text-center">
      <div class="col-auto STnopadding">
        <div  *ngIf="venueobject.fullbuyoutonline" class="onlinestatus STnopadding">
          Public
        </div>
      </div>
      <div class="col-auto STnopadding">
        <div *ngIf="!venueobject.fullbuyoutonline" class="offlinestatus STnopadding">
          Hidden
        </div>
      </div>
    </div>
    <div class="col-auto">
      <div class="col-auto">
        <button class="btn" (click)="roomonline()" *ngIf="!venueobject.fullbuyoutonline" style="background-color: green; color: white;">Push Public</button>
        <button class="btn" (click)="roomoffline()" *ngIf="venueobject.fullbuyoutonline" style="background-color: #ffbd59">Hide Offline</button>
      </div>
    </div>
    <div class="col-auto">
      <div class="col-auto">
        <button class="btn" (click)="showdeleteconfrim()" class="btn-danger">Delete Room</button>
      </div>
    </div>
    <div class="col-auto">
      <div class="col-auto">
        <a style="cursor: pointer;" [href]="domain" target="_blank"><button class="btn" style="background-color: #8B008B; color: white">Preview Room</button></a>
      </div>
    </div>
    <br>
    <br>
    <div class="col-12">
      <div class="text-center">
        <h4>All Changes Saved Automatically</h4>
      </div>
    </div>
  </div>
  <form  #fullbuyouttopparmsform="ngForm">
    <div  class="row"> <!--seatedcapacity full buyout-->
      <div id="seatedcapacityfullbuyoutlabel" class="col-auto">
        <h5>Seated Capacity</h5>
      </div>
      <div class="col-1 STnopadding">
        <input (change)="fullbuyoutsave()"
               type="number"
               id="seatedcapacityfullbuyoutinput"
               name="seatedcapacityinputfullbuyout"
               [ngModel]="venueobject.fullbuyoutseatedcapacity">
      </div>
      <div id="standingcapacitylabelfullbuyouy" class="col-auto">
        <h5>Standing Capacity</h5>
      </div>
      <div class="col-1 STnopadding">
        <input (change)="fullbuyoutsave()"
               type="number"
               id="standingcapacityinput"
               name="standingcapacityinputfullbuyout"
               [ngModel]="venueobject.fullbuyoutstandingcapactiy">
      </div>
      <div id="minspendfullbuyout" class="col-auto">
        <h5>Minimum Spend?</h5>
      </div>
      <div class="col-2 STnopadding">
        <input (change)="fullbuyoutsave()"
               type="number"
               id="minspendinputfullbuyout"
               name="minspendinputfullbuyout"
               placeholder="Optional"
               [ngModel]="venueobject.fullbuyoutminspend">

      </div>
    </div>
  </form>
  <form  #roomdescriptionfullbuyoutform="ngForm">
    <div  class="row">
      <div class="col-auto">
        <h4>Full Buyout  Description</h4>
      </div>
      <div class="col-12">
         <textarea (change)="fullbuyoutsave()"
                   id="roomdescriptioninputfullbuyout"
                   name="roomdescriptionfullbuyoutinput"
                   placeholder="Enter Full Buyout Description"
                   [ngModel]="venueobject.fullbuyoutdescription">

         </textarea>
      </div>
      <div class="col-12">
        <div class="text-center">
          <button class="btn btn-outline-primary">Save Changes</button>
        </div>
      </div>
    </div>
  </form>
  <div class="row upperlinerow row-eq-height"> <!--Amenities row text-->
    <div class="col-auto">
      <h4>Full Buyout Amenities</h4>
    </div>
    <div  class="col-auto">
      <strong id="amenitiesnote">(Check all that apply)</strong>
    </div>
  </div>
  <form #amenitiesfullbuyoutform="ngForm">
    <div class="row">
      <div class="col-auto STnopadding">
        <input (change)="fullbuyoutsave()"
               type="checkbox"
               id="surroundsoundcheckboxfullbuyout"
               name="surroundsoundcheckboxfullbuyout"
               [ngModel]="venueobject.fullbuyoutsurrondsoundamenity"> <strong>Surround Sound</strong>
      </div>
      <div class="col-auto">
        <input (change)="fullbuyoutsave()"
               type="checkbox"
               id="stagecheckboxfullbuyout"
               name="stagecheckboxfullbuyout"
               [ngModel]="venueobject.fullbuyoutstageamenity"> <strong>Stage</strong>
      </div>
      <div class="col-auto">
        <input (change)="fullbuyoutsave()"
               type="checkbox"
               id="televisioncheckboxfullbuyout"
               name="televisioncheckboxfullbuyout"
               [ngModel]="venueobject.fullbuyouttelevisionamenity"> <strong>Television</strong>
      </div>

      <div class="col-auto">
        <input (change)="fullbuyoutsave()"
               type="checkbox"
               id="screenprojectorcheckboxfullbuyout"
               name="screenprojectorcheckboxfullbuyout"
               [ngModel]="venueobject.fullbuyoutscreenprojectoramenity"> <strong>Screen + Projector</strong>
      </div>
      <div class="col-auto">
        <input (change)="fullbuyoutsave()"
               type="checkbox"
               id="microphonefullbuyout"
               name="microphonefullbuyout"
               [ngModel]="venueobject.fullbuyoutmicrophoneamenity"> <strong>Microphone</strong>
      </div>
      <div class="col-auto">
        <input (change)="fullbuyoutsave()"
               type="checkbox"
               id="naturallightcheckboxfullbuyout"
               name="naturallightcheckboxfullbuyout"
               [ngModel]="venueobject.fullbuyoutnaturallightamenity"> <strong>Natural Light</strong>
      </div>
      <div class="col-auto">
        <input (change)="fullbuyoutsave()"
               type="checkbox"
               id="wificheckboxfullbuyout"
               name="wificheckboxfullbuyout"
               [ngModel]="venueobject.fullbuyoutwifiamenity"> <strong>Wifi</strong>
      </div>
      <div class="col-auto">
        <input (change)="fullbuyoutsave()"
               type="checkbox"
               id="wheelchaircheckboxfullbuyout"
               name="wheelchaircheckboxfullbuyout"
               [ngModel]="venueobject.fullbuyoutwheelchairaccessibleamenity"> <strong>Wheelchair Accessible</strong>
      </div>
      <div class="col-auto">
        <input (change)="fullbuyoutsave()"
               type="checkbox"
               id="outdoorseattingcheckboxfullbuyout"
               name="outdoorseattingcheckboxfullbuyout"
               [ngModel]="venueobject.fullbuyoutoutdoorseatingamenity"> <strong>Outdoor Seating</strong>
      </div>
    </div> <!--amenities checkboxes-->
    <div class="row"> <!--Amenities row text-->
      <div class="col-auto">
        <h4>Full Buyout Seating Options</h4>
      </div>
    </div> <!--Amenities row text-->
    <div class="row"> <!--Seating Options checkboxes-->
      <div class="col-auto">
        <input (change)="fullbuyoutsave()"
               type="checkbox"
               id="cocktailstandingcheckboxfullbuyout"
               name="cocktailstandingcheckboxfullbuyout"
               [ngModel]="venueobject.fullbuyoutcocktailstandingseatingoption"> <strong>Cocktail / Standing</strong>
      </div>
      <div class="col-auto">
        <input (change)="fullbuyoutsave()"
               type="checkbox"
               id="classroomseatingcheckboxfullbuyout"
               name="classroomseatingcheckboxfullbuyout"
               [ngModel]="venueobject.fullbuyoutclassroomseatingoption"> <strong>Classroom</strong>
      </div>
      <div class="col-auto">
        <input (change)="fullbuyoutsave()"
               type="checkbox"
               id="ushapecheckboxfullbuyout"
               name="ushapecheckboxfullbuyout"
               [ngModel]="venueobject.fullbuyoutushapeseatingoption"> <strong>U-Shape</strong>
      </div>
      <div class="col-auto">
        <input (change)="fullbuyoutsave()"
               type="checkbox"
               id="sixtyinchroundscheckboxfullbuyout"
               name="sixtyinchroundscheckboxfullbuyout"
               [ngModel]="venueobject.fullbuyoutsixtyroundseatingoption"> <strong>60' Rounds</strong>
      </div>

      <div class="col-auto">
        <input (change)="fullbuyoutsave()"
               type="checkbox"
               id="boardroomcheckboxfullbuyout"
               name="boardroomcheckboxfullbuyout"
               [ngModel]="venueobject.fullbuyoutboardroomseatingoption"> <strong>Boardroom</strong>
      </div>
      <div class="col-auto">
        <input (change)="fullbuyoutsave()"
               type="checkbox"
               id="theatercheckboxfullbuyout"
               name="theatercheckboxfullbuyout"
               [ngModel]="venueobject.fullbuyouttheaterseatingoption"> <strong>Theater</strong>
      </div>
      <div class="col-auto">
        <input (change)="fullbuyoutsave()"
               type="checkbox"
               id="hallowsquarecheckboxfullbuyout"
               name="hallowsquarecheckboxfullbuyout"
               [ngModel]="venueobject.fullbuyouthallowsquareseatingoption"> <strong>Hallow Square</strong>
      </div>
    </div>
  </form>
</div>

<div *ngIf="!fullbuyoutedit" class="container-fluid"> <!--root container-->
  <div class="row">
    <div class="col-12">
      <h3 *ngIf="roomobject.name != null">{{roomobject.name}}</h3>
      <h3 *ngIf="roomobject.name == null">Unnamed Room</h3>
    </div>
  </div>
  <div class="row">
    <div *ngIf="deleteconfrimshow" class="col-6 text-center">
      <strong>Are you sure you want to delete this room?</strong>
      <br>
      <button (click)="unshowdeleteroomconfrim()" class="STButton" >Cancel</button>
      <button (click)="deleteroom()" class="btn-danger">Delete Room</button>
    </div>
  </div>
  <div *ngIf="!deleteconfrimshow" class="row">
    <div class="col-2">
      <div class="text-center">
        <div *ngIf="roomobject.online" class="onlinestatus">
          Online
        </div>
      </div>
      <div class="text-center">
        <div *ngIf="!roomobject.online" class="offlinestatus">
          Offline
        </div>
      </div>
    </div>
    <div class="col-auto">
      <button (click)="roomonline()" *ngIf="!roomobject.online" style="background-color: green; color: white;">Push Online</button>
      <button (click)="roomoffline()" *ngIf="roomobject.online" style="background-color: #ffbd59">Take Offline</button>
    </div>
    <div class="col-auto">
      <button (click)="showdeleteconfrim()" class="btn-danger">Delete Room</button>
    </div>
    <div class="col-auto">
      <button style="background-color: #8B008B; color: white">Preview Room</button>
    </div>
  </div>
  <form  #topparamsform="ngForm">
    <div class="row">
      <div class="col-3">
        <input (change)="savevenueroom()"
               type="text"
               id="roominput"
               name="roomnameinput"
               [ngModel]="roomobject.name"
               placeholder="Room Name">
      </div>
      <div class="col-auto">
        <input (change)="savevenueroom()"
               type="radio"
               id="privateroomcheckbox"
               name="privateroomcheckbox"
               value="privateroom"
               [ngModel]="capacitytype"> Private Room
      </div>
      <div class="col-auto">
        <input  (change)="savevenueroom()"
                type="radio"
                id=semipri
                name="privateroomcheckbox"
                value="semiprivate"
                [ngModel]="capacitytype"> Semi-Private Room
      </div>
    </div>
    <div class="row"> <!--seatedcapacity-->
      <div id="seatedcapacitylabel" class="col-auto">
        <h5>Seated Capacity</h5>
      </div>
      <div class="col-1 STnopadding">
        <input (change)="savevenueroom()"
               type="number"
               id="seatedcapacityinput"
               name="seatedcapacityinput"
               [ngModel]="roomobject.seatedcapacity">
      </div>
      <div class="col-auto">
        <h5>Standing Capacity</h5>
      </div>
      <div class="col-1 STnopadding">
        <input (change)="savevenueroom()"
               type="number"
               id="standingcapacityinputfullbuyout"
               name="standingcapacityinput"
               [ngModel]="roomobject.standingcapacity">
      </div>
      <div class="col-auto">
        <h5>Minimum Spend?</h5>
      </div>
      <div class="col-1 STnopadding">
        <input (change)="savevenueroom()"
               type="number"
               id="minspendinput"
               name="minspendinput"
               placeholder="Optional"
               [ngModel]="roomobject.minimumspend">

      </div>
    </div> <!-- seatedcapacity-->
  </form>
  <div class="">
    <div class="STautowidth">
      <h4><strong>Room Photos</strong></h4>
    </div>
    <br>
    <div>
      <h5 id="photosizenote"><strong>Images should be no larger than 12MB and at least 1500 X 700 pixels in resolution.</strong></h5>
    </div>
    <br>
    <div *ngIf="showphotos">
      <app-venueroomshowphotos></app-venueroomshowphotos>
    </div>
    <div class="text-center STautowidth"> <!--add photo button and form input-->
      <button *ngIf="!showfileuploadform" (click)="activateshowfileuploadform()" id="addroombutton">+Add Photo</button>
      <button class="btn-success" *ngIf="!showphotos && !showfileuploadform" (click)="roomphotoshow()">Display Photos</button>
    </div>
    <div *ngIf="showfileuploadform">
      <input  (change)="addroomphoto($event)"
              type="file"
              id="roomphotoinput"
              accept=".png, .jpg, jpeg">
      <br>
      <br>
      <button *ngIf="!hidecancelbutton" (click)="deactivateshowfileuploadform()" class="btn-danger">Cancel</button>
    </div>
  </div>

  <form  #roomdescriptionform="ngForm">
    <div class="row"> <!--venue description row-->
      <div class="col-12">
          <textarea  (change)="savevenueroom()"
                     id="roomdescriptioninput"
                     name="roomdescriptioninput"
                     placeholder="Enter Room Description"
                     [ngModel]="roomobject.description">

          </textarea>
      </div>
    </div> <!--venue description row-->
  </form>
  <div>
    <div class="row row-eq-height"> <!--Amenities row text-->
      <div class="col-auto STautowidth upperlinerowtextpadding">
        <h4>Amenities</h4>
      </div>
      <div class="col-auto STautowidth upperlinerowtextpadding">
        <strong id="amenitiesnotenotfullbuyout">(Check all that apply to this room)</strong>
      </div>
    </div> <!--Amenities row text-->
    <form  #amenitiesseatingform="ngForm">
      <div class="row checkboxrow"> <!--amenities checkboxes-->
        <div class="col-auto STnopadding">
          <input (change)="savevenueroom()"
                 type="checkbox"
                 id="surroundsoundcheckbox"
                 name="surroundsoundcheckbox"
                 [ngModel]="roomobject.surroundsoundamenity"> <strong>Surround Sound</strong>
        </div>
        <div class="col-auto">
          <input (change)="savevenueroom()"
                 type="checkbox"
                 id="stagecheckbox"
                 name="stagecheckbox"
                 [ngModel]="roomobject.stageamenity"> <strong>Stage</strong>
        </div>
        <div class="col-auto">
          <input (change)="savevenueroom()"
                 type="checkbox"
                 id="televisioncheckbox"
                 name="televisioncheckbox"
                 [ngModel]="roomobject.televisionamenity"> <strong>Television</strong>
        </div>

        <div class="col-auto">
          <input (change)="savevenueroom()"
                 type="checkbox"
                 id="screenprojectorcheckbox"
                 name="screenprojectorcheckbox"
                 [ngModel]="roomobject.screenprojectoramenity"> <strong>Screen + Projector</strong>
        </div>
        <div class="col-auto">
          <input (change)="savevenueroom()"
                 type="checkbox"
                 id="microphoneamenitycheckbox"
                 name="microphoneamenitycheckbox"
                 [ngModel]="roomobject.microphoneamenity"> <strong>Microphone</strong>
        </div>
        <div class="col-auto">
          <input (change)="savevenueroom()"
                 type="checkbox"
                 id="naturallightcheckbox"
                 name="naturallightcheckbox"
                 [ngModel]="roomobject.naturallightamenity"> <strong>Natural Light</strong>
        </div>
        <div class="col-auto">
          <input (change)="savevenueroom()"
                 type="checkbox"
                 id="wificheckbox"
                 name="wificheckbox"
                 [ngModel]="roomobject.wifiamenity"> <strong>Wifi</strong>
        </div>
        <div class="col-auto">
          <input (change)="savevenueroom()"
                 type="checkbox"
                 id="wheelchaircheckbox"
                 name="wheelchaircheckbox"
                 [ngModel]="roomobject.wheelchairaccessibleamenity"> <strong>Wheelchair Accessible</strong>
        </div>
        <div class="col-auto">
          <input (change)="savevenueroom()"
                 type="checkbox"
                 id="outdoorseattingcheckbox"
                 name="outdoorseattingcheckbox"
                 [ngModel]="roomobject.outdoorseatingamenity"> <strong>Outdoor Seating</strong>
        </div>
      </div> <!--amenities checkboxes-->
      <div class="row upperlinerow row-eq-height"> <!--Amenities row text-->
        <div class="col-auto">
          <h4><strong>Available Seating Options</strong></h4>
        </div>
      </div> <!--Amenities row text-->
      <div class="row checkboxrow"> <!--Seating Options checkboxes-->
        <div class="col-auto">
          <input (change)="savevenueroom()"
                 type="checkbox"
                 id="cocktailstandingcheckbox"
                 name="cocktailstandingcheckbox"
                 [ngModel]="roomobject.cocktailstandingseatingoption"> <strong>Cocktail / Standing</strong>
        </div>
        <div class="col-auto">
          <input (change)="savevenueroom()"
                 type="checkbox"
                 id="classroomseatingcheckbox"
                 name="classroomseatingcheckbox"
                 [ngModel]="roomobject.classroomseatingoption"> <strong>Classroom</strong>
        </div>
        <div class="col-auto">
          <input (change)="savevenueroom()"
                 type="checkbox"
                 id="ushapecheckbox"
                 name="ushapecheckbox"
                 [ngModel]="roomobject.ushapeseatingoption"> <strong>U-Shape</strong>
        </div>
        <div class="col-auto">
          <input (change)="savevenueroom()"
                 type="checkbox"
                 id="sixtyinchroundscheckbox"
                 name="sixtyinchroundscheckbox"
                 [ngModel]="roomobject.sixtyroundseatingoption"> <strong>60' Rounds</strong>
        </div>

        <div class="col-auto">
          <input (change)="savevenueroom()"
                 type="checkbox"
                 id="boardroomcheckbox"
                 name="boardroomcheckbox"
                 [ngModel]="roomobject.boardroomseatingoption"> <strong>Boardroom</strong>
        </div>
        <div class="col-auto">
          <input (change)="savevenueroom()"
                 type="checkbox"
                 id="theatercheckbox"
                 name="theatercheckbox"
                 [ngModel]="roomobject.theaterseatingoption"> <strong>Theater</strong>
        </div>
        <div class="col-auto">
          <input (change)="savevenueroom()"
                 type="checkbox"
                 id="hallowsquarecheckbox"
                 name="hallowsquarecheckbox"
                 [ngModel]="roomobject.hallowsquareseatingoption"> <strong>Hallow Square</strong>
        </div>
      </div> <!--Seating Options checkboxes-->
    </form>
  </div>
</div> <!--root container-->


