<div class="container-fluid" *ngIf="fullbuyoutedit"> <!--fullbuyout-->
  <div class="row">
    <div class="col-8">
      <h3>{{venueobject.name}} Full Buyout</h3>
    </div>
  </div>
  <div class="row">
    <div *ngIf="deleteconfrimshow" class="col-auto">
      <strong>Are you sure you want to remove the full buyout option?</strong>
      <br>
      <button  (click)="unshowdeleteroomconfrim()" class=" btn STButton" >Cancel</button>
      <button (click)="deleteroom()" class="btn-danger">Delete Room</button>
    </div>
    <div *ngIf="!deleteconfrimshow" class="col-2">
      <div class="col-auto">
        <div  *ngIf="venueobject.fullbuyoutonline" class="onlinestatus STnopadding">
          <h5>Public</h5>
        </div>
      </div>
      <div class="col-auto STnopadding">
        <div *ngIf="!venueobject.fullbuyoutonline" class="offlinestatus STnopadding">
          <h5>Hidden</h5>
        </div>
      </div>
    </div>
    <div class="col-auto">
      <div *ngIf="!fullbuyoutnoonline" class="col-auto">
        <button class="btn" (click)="roomonline()" *ngIf="!venueobject.fullbuyoutonline" style="background-color: green; color: white;">Push Public</button>
        <button class="btn" (click)="roomoffline()" *ngIf="venueobject.fullbuyoutonline" style="background-color: #ffbd59">Hide Offline</button>
      </div>
      <div *ngIf="fullbuyoutnoonline" class="col-auto">
        Full buyout cannot be turned on unless you have at least one venue image
      </div>
    </div>
    <div class="col-auto">
      <div class="col-auto">
        <button (click)="showdeleteconfrim()" class="btn btn-danger">Delete Room</button>
      </div>
    </div>
    <div class="col-auto">
        <button (click)="fullbuyoutroompreview()" class="btn" style="background-color: #8B008B; color: white">Preview Room</button>
    </div>
    <br>
    <br>
    <div class="col-6">
      <div>
        <p>All Changes Saved Automatically</p>
      </div>
    </div>
  </div>
  <form  #fullbuyouttopparmsform="ngForm">
    <div  class="row"> <!--seatedcapacity full buyout-->
      <div id="seatedcapacityfullbuyoutlabel" class="col-auto">
        <h5>Seated Capacity</h5>
      </div>
      <div class="col-1 STnopadding">
        <input (change)="fullbuyoutsave()"
               type="text"
               class="form-control"
               id="seatedcapacityfullbuyoutinput"
               name="seatedcapacityinputfullbuyout"
               [ngModel]="venueobject.fullbuyoutseatedcapacity">
      </div>
      <div id="standingcapacitylabelfullbuyouy" class="col-auto">
        <h5>Standing Capacity</h5>
      </div>
      <div class="col-1 STnopadding">
        <input (change)="fullbuyoutsave()"
               type="text"
               class="form-control"
               id="standingcapacityinput"
               name="standingcapacityinputfullbuyout"
               [ngModel]="venueobject.fullbuyoutstandingcapactiy">
      </div>
      <div id="minspendfullbuyout" class="col-auto">
        <h5>Minimum Spend?</h5>
      </div>
      <div class="col-2 STnopadding">
        <input (change)="fullbuyoutsave()"
               type="text"
               class="form-control"
               id="minspendinputfullbuyout"
               name="minspendinputfullbuyout"
               placeholder="Optional"
               [ngModel]="venueobject.fullbuyoutminspend">

      </div>
    </div>
  </form>
  <form  #roomdescriptionfullbuyoutform="ngForm">
    <div  class="row">
      <div class="col-auto">
        <h4>Full Buyout  Description</h4>
      </div>
      <div class="col-12">
         <textarea (change)="fullbuyoutsave()"
                   id="roomdescriptioninputfullbuyout"
                   class="form-control"
                   name="roomdescriptionfullbuyoutinput"
                   placeholder="Enter Full Buyout Description"
                   [ngModel]="venueobject.fullbuyoutdescription">

         </textarea>
      </div>
      <div class="col-12">
        <div class="text-center">
          <button class="btn btn-outline-primary">Save Changes</button>
        </div>
      </div>
    </div>
  </form>
  <div class="row upperlinerow row-eq-height"> <!--Amenities row text-->
    <div class="col-auto">
      <h4>Full Buyout Amenities</h4>
    </div>
    <div  class="col-auto">
      <strong id="amenitiesnote">(Check all that apply)</strong>
    </div>
  </div>
  <form #amenitiesfullbuyoutform="ngForm">
    <div class="row">
      <div class="col-2">
        <div class="row">
          <div class="col-12">
            <div class="text-center">
              <input (change)="fullbuyoutsave()"
                     type="checkbox"
                     id="surroundsoundcheckboxfullbuyout"
                     name="surroundsoundcheckboxfullbuyout"
                     [ngModel]="venueobject.fullbuyoutsurrondsoundamenity">

            </div>
          </div>
          <div class="col-12">
            <div class="text-center">
              <strong>Surround Sound</strong>
            </div>
          </div>
        </div>

      </div>
      <div class="col-2">
        <div class="row">
          <div class="col-12">
            <div class="text-center">
              <input (change)="fullbuyoutsave()"
                     type="checkbox"
                     id="stagecheckboxfullbuyout"
                     name="stagecheckboxfullbuyout"
                     [ngModel]="venueobject.fullbuyoutstageamenity">
            </div>
          </div>
          <div class="col-12">
            <div class="text-center">
              <strong>Stage</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="row">
          <div class="col-12">
            <div class="text-center">
              <input (change)="fullbuyoutsave()"
                     type="checkbox"
                     id="televisioncheckboxfullbuyout"
                     name="televisioncheckboxfullbuyout"
                     [ngModel]="venueobject.fullbuyouttelevisionamenity">
            </div>
          </div>
          <div class="col-12">
            <div class="text-center">
              <strong>Television</strong>
            </div>
          </div>
        </div>
      </div>

      <div class="col-2">
        <div class="row">
          <div class="col-12">
            <div class="text-center">
              <input (change)="fullbuyoutsave()"
                     type="checkbox"
                     id="screenprojectorcheckboxfullbuyout"
                     name="screenprojectorcheckboxfullbuyout"
                     [ngModel]="venueobject.fullbuyoutscreenprojectoramenity">
            </div>
          </div>
          <div class="col-12">
            <div class="text-center">
              <strong>Screen + Projector</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="row">
          <div class="col-12">
            <div class="text-center">
              <input (change)="fullbuyoutsave()"
                     type="checkbox"
                     id="microphonefullbuyout"
                     name="microphonefullbuyout"
                     [ngModel]="venueobject.fullbuyoutmicrophoneamenity">
            </div>
          </div>
          <div class="col-12">
            <div class="text-center">
              <strong>Microphone</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="row">
          <div class="col-12">
            <div class="text-center">
              <input (change)="fullbuyoutsave()"
                     type="checkbox"
                     id="naturallightcheckboxfullbuyout"
                     name="naturallightcheckboxfullbuyout"
                     [ngModel]="venueobject.fullbuyoutnaturallightamenity">
            </div>
          </div>
          <div class="col-12">
            <div class="text-center">
              <strong>Natural Light</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="row">
          <div class="col-12">
            <div class="text-center">
              <input (change)="fullbuyoutsave()"
                     type="checkbox"
                     id="wificheckboxfullbuyout"
                     name="wificheckboxfullbuyout"
                     [ngModel]="venueobject.fullbuyoutwifiamenity">
            </div>
          </div>
          <div class="col-12">
            <div class="text-center">
              <strong>Wifi</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="row">
          <div class="col-12">
            <div class="text-center">
              <input (change)="fullbuyoutsave()"
                     type="checkbox"
                     id="wheelchaircheckboxfullbuyout"
                     name="wheelchaircheckboxfullbuyout"
                     [ngModel]="venueobject.fullbuyoutwheelchairaccessibleamenity">
            </div>
          </div>
          <div class="col-12">
            <div class="text-center">
              <strong>Wheelchair Accessible</strong>
            </div>
          </div>
        </div>

      </div>
      <div class="col-2">
        <div class="row">
          <div class="col-12">
            <div class="text-center">
              <input (change)="fullbuyoutsave()"
                     type="checkbox"
                     id="outdoorseattingcheckboxfullbuyout"
                     name="outdoorseattingcheckboxfullbuyout"
                     [ngModel]="venueobject.fullbuyoutoutdoorseatingamenity">
            </div>
          </div>
          <div class="col-12">
            <div class="text-center">
              <strong>Outdoor Seating</strong>
            </div>
          </div>
        </div>
      </div>
    </div> <!--amenities checkboxes-->
    <div class="row"> <!--Amenities row text-->
      <div class="col-auto">
        <h4>Full Buyout Seating Options</h4>
      </div>
    </div> <!--Amenities row text-->
    <div class="row"> <!--Seating Options checkboxes-->
      <div class="col-2">
        <div class="row">
          <div class="col-12">
            <div class="text-center">
              <input (change)="fullbuyoutsave()"
                     type="checkbox"
                     id="cocktailstandingcheckboxfullbuyout"
                     name="cocktailstandingcheckboxfullbuyout"
                     [ngModel]="venueobject.fullbuyoutcocktailstandingseatingoption">
            </div>
          </div>
          <div class="col-12">
            <div class="text-center">
              <strong>Cocktail / Standing</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="row">
          <div class="col-12">
            <div class="text-center">
              <input (change)="fullbuyoutsave()"
                     type="checkbox"
                     id="classroomseatingcheckboxfullbuyout"
                     name="classroomseatingcheckboxfullbuyout"
                     [ngModel]="venueobject.fullbuyoutclassroomseatingoption">
            </div>
          </div>
          <div class="col-12">
            <div class="text-center">
              <strong>Classroom</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="row">
          <div class="col-12">
            <div class="text-center">
              <input (change)="fullbuyoutsave()"
                     type="checkbox"
                     id="ushapecheckboxfullbuyout"
                     name="ushapecheckboxfullbuyout"
                     [ngModel]="venueobject.fullbuyoutushapeseatingoption">
            </div>
          </div>
          <div class="col-12">
            <div class="text-center">
              <strong>U-Shape</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="row">
          <div class="col-12">
            <div class="text-center">
              <input (change)="fullbuyoutsave()"
                     type="checkbox"
                     id="sixtyinchroundscheckboxfullbuyout"
                     name="sixtyinchroundscheckboxfullbuyout"
                     [ngModel]="venueobject.fullbuyoutsixtyroundseatingoption">
            </div>
          </div>
          <div class="col-12">
            <div class="text-center">
              <strong>Rounds</strong>
            </div>
          </div>
        </div>
      </div>

      <div class="col-2">
        <div class="row">
          <div class="col-12">
            <div class="text-center">
              <input (change)="fullbuyoutsave()"
                     type="checkbox"
                     id="boardroomcheckboxfullbuyout"
                     name="boardroomcheckboxfullbuyout"
                     [ngModel]="venueobject.fullbuyoutboardroomseatingoption">
            </div>
          </div>
          <div class="col-12">
            <div class="text-center">
              <strong>Boardroom</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="row">
          <div class="col-12">
            <div class="text-center">
              <input (change)="fullbuyoutsave()"
                     type="checkbox"
                     id="theatercheckboxfullbuyout"
                     name="theatercheckboxfullbuyout"
                     [ngModel]="venueobject.fullbuyouttheaterseatingoption">
            </div>
          </div>
          <div class="col-12">
            <div class="text-center">
              <strong>Theater</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="row">
          <div class="col-12">
            <div class="text-center">
              <input (change)="fullbuyoutsave()"
                     type="checkbox"
                     id="hallowsquarecheckboxfullbuyout"
                     name="hallowsquarecheckboxfullbuyout"
                     [ngModel]="venueobject.fullbuyouthallowsquareseatingoption">
            </div>
          </div>
          <div class="col-12">
            <div class="text-center">
              <strong>Hallow Square</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div *ngIf="!fullbuyoutedit" class="container-fluid"> <!--root container-->
  <div class="row">
    <div class="col-auto">
      <h3 *ngIf="roomobject.name != null">{{roomobject.name}}</h3>
      <h3 *ngIf="roomobject.name == null">Unnamed Room</h3>
    </div>
    <div class="col-2">
      <div class="text-center">
        <div *ngIf="roomobject.online && !deleteconfrimshow" class="onlinestatus">
          <h4>Public</h4>
        </div>
      </div>
      <div class="text-center">
        <div *ngIf="!roomobject.online && !deleteconfrimshow" class="offlinestatus">
          <h4>Hidden</h4>
        </div>
      </div>
    </div>
    <div *ngIf="roomnoonline && !deleteconfrimshow" class="col-auto">
      Room cannot be turned on unless you have at least one image uploaded
    </div>
    <div class="col-6">
      <div *ngIf="!deleteconfrimshow" class="auto">
        <div class="float-right">
          <button (click)="roompreview()" class="btn" style="background-color: #8B008B; color: white">Preview Room</button> &nbsp;
        </div>
      </div>
      <div *ngIf="!deleteconfrimshow" class="auto">
        <div class="float-right">
          <button (click)="showdeleteconfrim()" class=" btn btn-danger">Delete Room</button> &nbsp;
        </div>
      </div>
      <div *ngIf="!roomnoonline && !deleteconfrimshow" class="col-auto">
        <div class="float-right">
          <button class="btn" (click)="roomonline()" *ngIf="!roomobject.online" style="background-color: green; color: white; margin-right: 8px;">Push Public</button>
          <button class="btn" (click)="roomoffline()" *ngIf="roomobject.online" style="background-color: #ffbd59; margin-right: 8px;">Hide Room</button>
        </div>
      </div>

      <div *ngIf="deleteconfrimshow" class="col-12 text-center">
        <h5>Are you sure you want to delete this room?</h5>
        <br>
        <button (click)="unshowdeleteroomconfrim()" class="btn btn-outline-primary" >Cancel</button>&nbsp;
        <button (click)="deleteroom()" class=" btn btn-danger">Delete Room</button>
      </div>

    </div>
  </div>
  <form  #topparamsform="ngForm">
    <div class="row">
      <div class="col-3">
        <input (change)="savevenueroom()"
               type="text"
               class="form-control"
               id="roominput"
               name="roomnameinput"
               [ngModel]="roomobject.name"
               placeholder="Room Name">
      </div>
      <div class="col-auto">
        <input (change)="savevenueroom()"
               type="radio"
               id="privateroomcheckbox"
               name="privateroomcheckbox"
               value="privateroom"
               [ngModel]="capacitytype"> Private Room
      </div>
      <div class="col-auto">
        <input  (change)="savevenueroom()"
                type="radio"
                id=semipri
                name="privateroomcheckbox"
                value="semiprivate"
                [ngModel]="capacitytype"> Semi-Private Room
      </div>
    </div>
    <div class="row"> <!--seatedcapacity-->
      <div id="seatedcapacitylabel" class="col-auto">
        <h5>Seated Capacity</h5>
      </div>
      <div class="col-1 STnopadding">
        <input (change)="savevenueroom()"
               type="number"
               class="form-control"
               id="seatedcapacityinput"
               name="seatedcapacityinput"
               [ngModel]="roomobject.seatedcapacity">
      </div>
      <div class="col-auto">
        <h5>Standing Capacity</h5>
      </div>
      <div class="col-1 STnopadding">
        <input (change)="savevenueroom()"
               type="number"
               class="form-control"
               id="standingcapacityinputfullbuyout"
               name="standingcapacityinput"
               [ngModel]="roomobject.standingcapacity">
      </div>
      <div class="col-auto">
        <h5>Minimum Spend?</h5>
      </div>
      <div class="col-1 STnopadding">
        <input (change)="savevenueroom()"
               type="text"
               class="form-control"
               id="minspendinput"
               name="minspendinput"
               placeholder="Optional"
               [ngModel]="roomobject.minimumspend">

      </div>
    </div> <!-- seatedcapacity-->
  </form>
  <div class="row">
    <div class="col-auto">
      <h4><strong>Room Photos</strong></h4>
    </div>
    <div class="col-auto">
      <button *ngIf="!showfileuploadform" (click)="activateshowfileuploadform()" id="addroombutton"><h4>+Add Photo</h4></button>
    </div>
    <div class="col-auto"> <!--add photo button and form input-->
      <a id="displayphotoslink" *ngIf="!showphotos && !showfileuploadform" (click)="roomphotoshow()"><h4>Display Photos</h4></a>
    </div>
    <div class="col-auto" *ngIf="showfileuploadform">
      <div class="row">
        <div class="col-auto">
          <input  (change)="addroomphoto($event)"
                  type="file"
                  class="form-control"
                  id="roomphotoinput"
                  accept=".png, .jpg, jpeg">
        </div>
        <div class="col-auto">
          <button  *ngIf="!hidecancelbutton" (click)="deactivateshowfileuploadform()" class=" btn btn-danger">Cancel</button>
        </div>
      </div>
    </div>
  </div>
    <div *ngIf="showphotos">
      <div>
        <h5 id="photosizenote">Images should be no larger than 12MB and at least 1500 X 700 pixels in resolution.</h5>
      </div>
      <app-venueroomshowphotos></app-venueroomshowphotos>
    </div>
  <form  #roomdescriptionform="ngForm">
    <div class="row"> <!--venue description row-->
      <div class="col-12">
          <textarea  (change)="savevenueroom()"
                     id="roomdescriptioninput"
                     name="roomdescriptioninput"
                     placeholder="Enter Room Description"
                     [ngModel]="roomobject.description">

          </textarea>
      </div>
    </div> <!--venue description row-->
  </form>
  <div>
    <div class="row row-eq-height"> <!--Amenities row text-->
      <div class="col-auto STautowidth upperlinerowtextpadding">
        <h4>Amenities</h4>
      </div>
      <div class="col-auto STautowidth upperlinerowtextpadding">
        <strong id="amenitiesnotenotfullbuyout">(Check all that apply to this room)</strong>
      </div>
    </div> <!--Amenities row text-->
    <form  #amenitiesseatingform="ngForm">
      <div class="row checkboxrow"> <!--amenities checkboxes-->
        <div class="col-2">
          <div class="row">
            <div class="col-12">
              <div class="text-center">
                <input (change)="savevenueroom()"
                       type="checkbox"
                       id="surroundsoundcheckbox"
                       name="surroundsoundcheckbox"
                       [ngModel]="roomobject.surroundsoundamenity">
              </div>
            </div>
            <div class="col-12">
              <div class="text-center">
                <strong>Surround Sound</strong>
              </div>
            </div>
          </div>
        </div>

        <div class="col-2">
          <div class="row">
            <div class="col-12">
              <div class="text-center">
                <input (change)="savevenueroom()"
                       type="checkbox"
                       id="stagecheckbox"
                       name="stagecheckbox"
                       [ngModel]="roomobject.stageamenity">
              </div>
            </div>
            <div class="col-12">
              <div class="text-center">
                <strong>Stage</strong>
              </div>
            </div>
          </div>
        </div>

        <div class="col-2">
          <div class="row">
            <div class="col-12">
              <div class="text-center">
                <input (change)="savevenueroom()"
                       type="checkbox"
                       id="televisioncheckbox"
                       name="televisioncheckbox"
                       [ngModel]="roomobject.televisionamenity">
              </div>
            </div>
            <div class="col-12">
              <div class="text-center">
                <strong>Television</strong>
              </div>
            </div>
          </div>
        </div>

        <div class="col-2">
          <div class="row">
            <div class="col-12">
              <div class="text-center">
                <input (change)="savevenueroom()"
                       type="checkbox"
                       id="screenprojectorcheckbox"
                       name="screenprojectorcheckbox"
                       [ngModel]="roomobject.screenprojectoramenity">
              </div>
            </div>
            <div class="col-12">
              <div class="text-center">
                <strong>Screen + Projector</strong>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="row">
            <div class="col-12">
              <div class="text-center">
                <input (change)="savevenueroom()"
                       type="checkbox"
                       id="microphoneamenitycheckbox"
                       name="microphoneamenitycheckbox"
                       [ngModel]="roomobject.microphoneamenity">
              </div>
            </div>
            <div class="col-12">
              <div class="text-center">
                <strong>Microphone</strong>
              </div>
            </div>
          </div>

        </div>
        <div class="col-2">
          <div class="row">
            <div class="col-12">
              <div class="text-center">
                <input (change)="savevenueroom()"
                       type="checkbox"
                       id="naturallightcheckbox"
                       name="naturallightcheckbox"
                       [ngModel]="roomobject.naturallightamenity">
              </div>
            </div>
            <div class="col-12">
              <div class="text-center">
                <strong>Natural Light</strong>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="row">
            <div class="col-12">
              <div class="text-center">
                <input (change)="savevenueroom()"
                       type="checkbox"
                       id="wificheckbox"
                       name="wificheckbox"
                       [ngModel]="roomobject.wifiamenity">
              </div>
            </div>
            <div class="col-12">
              <div class="text-center">
                <strong>Wifi</strong>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="row">
            <div class="col-12">
              <div class="text-center">
                <input (change)="savevenueroom()"
                       type="checkbox"
                       id="wheelchaircheckbox"
                       name="wheelchaircheckbox"
                       [ngModel]="roomobject.wheelchairaccessibleamenity">
              </div>
            </div>
            <div class="col-12">
              <div class="text-center">
                <strong>Wheelchair Accessible</strong>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="row">
            <div class="col-12">
              <div class="text-center">
                <input (change)="savevenueroom()"
                       type="checkbox"
                       id="outdoorseattingcheckbox"
                       name="outdoorseattingcheckbox"
                       [ngModel]="roomobject.outdoorseatingamenity">
              </div>
            </div>
            <div class="col-12">
              <div class="text-center">
                <strong>Outdoor Seating</strong>
              </div>
            </div>
          </div>
        </div>
      </div> <!--amenities checkboxes-->
      <div class="row upperlinerow row-eq-height"> <!--Amenities row text-->
        <div class="col-auto">
          <h4><strong>Available Seating Options</strong></h4>
        </div>
      </div> <!--Amenities row text-->
      <div class="row checkboxrow"> <!--Seating Options checkboxes-->
        <div class="col-2">
          <div class="row">
            <div class="col-12">
              <div class="text-center">
                <input (change)="savevenueroom()"
                       type="checkbox"
                       id="cocktailstandingcheckbox"
                       name="cocktailstandingcheckbox"
                       [ngModel]="roomobject.cocktailstandingseatingoption">
              </div>
            </div>
            <div class="col-12">
              <div class="text-center">
                <strong>Cocktail / Standing</strong>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="row">
            <div class="col-12">
              <div class="text-center">
                <input (change)="savevenueroom()"
                       type="checkbox"
                       id="classroomseatingcheckbox"
                       name="classroomseatingcheckbox"
                       [ngModel]="roomobject.classroomseatingoption">
              </div>
            </div>
            <div class="col-12">
              <div class="text-center">
                <strong>Classroom</strong>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="row">
            <div class="col-12">
              <div class="text-center">
                <input (change)="savevenueroom()"
                       type="checkbox"
                       id="ushapecheckbox"
                       name="ushapecheckbox"
                       [ngModel]="roomobject.ushapeseatingoption">
              </div>
            </div>
            <div class="col-12">
              <div class="text-center">
                <strong>U-Shape</strong>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="row">
            <div class="col-12">
              <div class="text-center">
                <input (change)="savevenueroom()"
                       type="checkbox"
                       id="sixtyinchroundscheckbox"
                       name="sixtyinchroundscheckbox"
                       [ngModel]="roomobject.sixtyroundseatingoption">
              </div>
            </div>
            <div class="col-12">
              <div class="text-center">
                <strong> Rounds</strong>
              </div>
            </div>
          </div>

        </div>

        <div class="col-2">
          <div class="row">
            <div class="col-12">
              <div class="text-center">
                <input (change)="savevenueroom()"
                       type="checkbox"
                       id="boardroomcheckbox"
                       name="boardroomcheckbox"
                       [ngModel]="roomobject.boardroomseatingoption">
              </div>
            </div>
            <div class="col-12">
              <div class="text-center">
                <strong>Boardroom</strong>
              </div>
            </div>
          </div>

        </div>
        <div class="col-2">
          <div class="row">
            <div class="col-12">
              <div class="text-center">
                <input (change)="savevenueroom()"
                       type="checkbox"
                       id="theatercheckbox"
                       name="theatercheckbox"
                       [ngModel]="roomobject.theaterseatingoption">
              </div>
            </div>
            <div class="col-12">
              <div class="text-center">
                <strong>Theater</strong>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="row">
            <div class="col-12">
              <div class="text-center">
                <input (change)="savevenueroom()"
                       type="checkbox"
                       id="hallowsquarecheckbox"
                       name="hallowsquarecheckbox"
                       [ngModel]="roomobject.hallowsquareseatingoption">
              </div>
            </div>
            <div class="col-12">
              <div class="text-center">
                <strong>Hallow Square</strong>
              </div>
            </div>
          </div>
        </div>
      </div> <!--Seating Options checkboxes-->
    </form>
  </div>



