
.smalltoptext{
  color: white;
  font-size: 25px;
}
.toptext{
  color: white;
  font-size: 55px;
}
.smallcontenttop{
  padding-top: 9vh;

}
.contenttop{
  padding-top: 9vh;
  margin-left: 20vw;
}

.fa {
  color: rgb(69,147,192);
}

.topimage{
  margin-top: 10vh;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("/assets/images/landingpage/landing.jpg");
  background-size: cover;
  background-position: center center;
  height: 75vh;
}

.socialdiv{
  cursor: pointer;
  position: relative;
  right: 6vw;
  bottom: 7vh;
  display: inline-block;
  width: 3vw;
  padding-left: .5vw;
  margin-left: .25vw;
  margin-right: .25vw;
  background-color: #00b3ee;
}
fa{
  display: block;
  color: white;
  margin: 0 auto;
}

select{
  background: transparent;
  border: solid 4px white;
  width: 200px;
  height: 50px;
  font-size: 18px;
}
option{
  background-color: #00b3ee;
}

#second-pane{
  height: 60vh;
}

.secondtextdiv{
  padding-left: 13vw;
  padding-bottom: 5vw;
}

.secondtextdivsmall{
  padding-top: 5vw;
  padding-bottom: 5vw;
}

#secondpanetext{
  font-size: 2.1rem;
}

#secondpanetextsmall{
  font-size: 1.3rem;
}



.underline{
  border-bottom: solid 3px black;
  font-size: 1.5rem;
  padding-bottom: 2vh;
}

.hiwtitle{
  padding-left : 7vw;
  font-size: 2.5rem;
}

.hiwbox{
  padding-left: 4vw;
  padding-right: 4vw;
}

.hiwtext{
  padding-top: 2vh;
  font-size: 1rem;
}

#third-pane{
  padding-top: 5vh;
  background-color: lightgray;
  padding-bottom: 5vh;
}

.forthheader{
  padding-left: 14vw;
}

input {
  width: 100%;
  margin-bottom: 1vw;
}

.formdiv{
  margin: 0 auto;
}

.venuesubmit{
  width: 100%;
  cursor: pointer;
  height: 6vh;
  background-color: #00b3ee;
  border: solid 1px #00b3ee;
  color: white;
  font-size: 1.3rem;

}

.signupcompelete{
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.venuestateselect{
  width: 100%;
  border: solid 1px lightgray;
}



