
* {
  padding: 0;
  margin: 0;
}

.fa {
  color: rgb(69,147,192);
}

.topimage{
  position: relative;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("/assets/images/landingpage/landing.jpg");
  background-size: cover;
  background-position: center center;
  height: 95vh;
}

.pushshim{
  position: relative;
  top:  13vh;
}
select{
  background-color: black;
  border: solid 4px white;
  width: 200px;
  height: 50px;
  font-size: 18px;
}

#second-pane {
  height: 70vh;
  //background-color: rgba(180, 180, 180, 0.2);
  @media (max-width:991px) {
    height: 100vh;
  }
}

#step1 {
  background-color: rgba(180, 180, 180, 0.2);


  @media (max-width:991px) {
    background-color: rgba(180, 180, 180, 0.2);

  }
}

#step2 {
  background-color: white;


  @media (max-width:991px) {

    background-color: white;
  }
}

.clipshadow{
  background-color: rgba(180, 180, 180, 0.2);
}

#step3 {
  background-color: rgba(180, 180, 180, 0.2);
}


@keyframes MoveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }

}

@keyframes MoveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }

}

/* when hover, move up a bit */
#icon:hover {
  transform: translateY(3px);
  /* first x-aix offset, second y-aix offset, third bliry*/
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* when click, move donw a bit */
#icon:active {
  transform: translateY(5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


.main-text-line {
  animation: MoveInLeft 1s ease-out;
}

.sub-text-line {
  animation: MoveInRight 1s ease-out;
}

.step-header {
  font-size: 30px;
}

.step-sub {
  margin: 10px 20px;
  font-size: 20px;
}

#user-signup-pane {
  position: relative;
  height: 70vh;
  background-image: linear-gradient( rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("/assets/images/landingpage/signupimg.png");
  background-size: cover;
  background-position: center;

  @media (max-width:991px) {
    position: relative;
    height: 100vh;
    background-color: rgba(180, 180, 180, 0.2);
  }
}

.signup-container {
  height: 90%;
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;

  @media (max-width: 400px) {
    height: 50%;
    width: 80%;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
    text-align: center;
  }

  .title {
    display: block;
    font-size: 40px;
  }

  .sub-info {
    margin: 50px auto;
    display: block;
    font-size: 21px;
    width: 40rem;
  }

  .link-style {
    text-decoration: underline;
  }
}

.btn-container {
  a {
    color: rgb(69,147,192);
  }
  .button:link{
    display: block;
    padding: 10px;
    border: rgb(69,147,192) solid 2px;
    width: 250px;
  }

  .button:hover {
    transform: translateY(3px);
  }
}


#venu-signup-pane {
  position: relative;
  height: 70vh;
  background-color: rgba(180, 180, 180, 0.2);

  .title-gray{
    color: #fff;
  }

  .btn-gray {
    border: #fff solid 2px;
  }

  @media (max-width: 600px){
    height: 100vh;
  }
}


