<div class="text-center">
  <div *ngIf="!updatesucess">
    <h2>Reset Your Password</h2>
    <br>
    <form (ngSubmit)="passwordreset()" #passwordresetform="ngForm">

      <input (click)="mismatchreset()"
             type="password"
             id="password1"
             placeholder="new password"
             name="password1"
             ngModel
             required>
      <br>
      <input (click)="mismatchreset()"
             type="password"
             id="password2"
             name="password2"
             placeholder="confrim password"
             ngModel
             required>
      <br>
      <span style="color: red" *ngIf="passwordmismatch">passwords do not match</span>
      <br>
      <button class="STButton" type="submit">Change Password</button>
    </form>
  </div>
  <div *ngIf="updatesucess">
    <h2>Your password has been updated</h2>
    <br>
    <a style="text-decoration: underline" routerLink="/">Navigate To Home Page</a>
  </div>
</div>
