<div class="container-fluid">

  <div class="row">
    <div id="About-pane" class="col-12 section-container">
      <div class="row">
        <div class="col-lg-6 px-4 border-right-gray">
          <div class="main-title">About</div>
          <div class="sub-title">Suits + Tables is a a marketing platform that:</div>
          <ul class="content">
            <li>Inspires customers to rearch + book new venue</li>
            <li>Delivers leads to drive
              <span>profitability</span> +
              <span>efficiency</span>
              for venues offering group dining</li>
          </ul>
          <div class="main-title">How It Works</div>
          <div class="content">Customers browse and filter based on specific event requirements. RFPs are then sent directly to selected venues
            for interest. Venues can accept or reject leads with a few simple clicks
          </div>
        </div>

        <div class="col-lg-6" style="position: relative;">
          <div class="composition">
            <img src="/assets/images/learnmore/browsecity.png" alt="browsecity" class="composition__photo composition__photo--p1">
            <img src="/assets/images/learnmore/roompage.png" alt="roompage" class="composition__photo composition__photo--p2">
            <img src="/assets/images/learnmore/venuepage.png" alt="venuepage" class="composition__photo composition__photo--p3">
          </div>
        </div>

      </div>
    </div>

    <div id="competity-pane" class="col-12 section-container">
      <!-- large screen show -->
      <div class="row" id="large-screen">
        <div class="col-6 p-5">
          <i class="fa fa-pencil fa-3x"></i>
          <span class="main-title">Low Risk</span>
          <ul class="content">
            <li>No sign up or anunual fees</li>
            <li>No pre-packaging required allowing partners flexbility in pricing for reach lead</li>
          </ul>
        </div>
        <div class="col-6 p-5">
          <i class="fa fa-pencil fa-3x"></i>
          <span class="main-title">High Reward</span>
          <ul class="content">
            <li>S + t primarily advertises to corporations to drive Mon-Thurs. bookings</li>
            <li>By joining S + T, expose your venue to more customers within and beyond your markey with little effort or expense</li>
            <li>Using a centralized portal allows staff to remain organized throughout the booking process and retarget part
              customers for repeat business</li>
          </ul>
        </div>
        <div class="col-6 p-5">
          <i class="fa fa-pencil fa-3x"></i>
          <span class="main-title">Simple Sign Up</span>
          <ul class="content">
            <li>S + T will expedite the sign-up process by building your profile and venues may edit at any time</li>
            <li> Complete web-base; no extra software to download, no apps, just open your current work email and access your
              leads
            </li>
          </ul>
        </div>
        <div class="col-6 p-5">
          <i class="fa fa-pencil fa-3x"></i>
          <span class="main-title">Value Added</span>
          <ul class="content">
            <li> All Partners will be featured in S + T social media marketing and e-mail camparigns to further boost awareness</li>
          </ul>
        </div>
      </div>

      <!-- small screen show -->
      <div class="row accordion" id="Accordion-container">
        <div class="col-12">
          <div class="Accordion-header" data-toggle="collapse" data-target="#collapseOne">
            <i class="fa fa-pencil fa-3x"></i>
            <span class="main-title">Low Risk</span>
          </div>
          <div class="Accordian-content collapse" id="collapseOne" data-parent="#Accordion-container">
            <ul class="content">
              <li>No sign up or anunual fees</li>
              <li>No pre-packaging required allowing partners flexbility in pricing for reach lead</li>
            </ul>
          </div>
        </div>
        <div class="col-12">
          <div class="Accordion-header" data-toggle="collapse" data-target="#collapseTwo">
            <i class="fa fa-pencil fa-3x"></i>
            <span class="main-title">High Rewards</span>
          </div>
          <div class="Accordian-content collapse" id="collapseTwo" data-parent="#Accordion-container">
            <ul class="content">
              <li>S + t primarily advertises to corporations to drive Mon-Thurs. bookings</li>
              <li>By joining S + T, expose your venue to more customers within and beyond your markey with little effort or expense</li>
              <li>Using a centralized portal allows staff to remain organized throughout the booking process and retarget part
                customers for repeat business</li>
            </ul>
          </div>
        </div>

        <div class="col-12">
          <div class="Accordion-header" data-toggle="collapse" data-target="#collapseThree">
            <i class="fa fa-pencil fa-3x"></i>
            <span class="main-title">Simple Sign Up</span>
          </div>
          <div class="Accordian-content collapse" id="collapseThree" data-parent="#Accordion-container">
            <ul class="content">
              <li>S + T will expedite the sign-up process by building your profile and venues may edit at any time</li>
              <li> Complete web-base; no extra software to download, no apps, just open your current work email and access your
                leads
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12">
          <div class="Accordion-header" data-toggle="collapse" data-target="#collapseFour">
            <i class="fa fa-pencil fa-3x"></i>
            <span class="main-title">Value Added</span>
          </div>
          <div class="Accordian-content collapse" id="collapseFour" data-parent="#Accordion-container">
            <ul class="content">
              <li> All Partners will be featured in S + T social media marketing and e-mail camparigns to further boost awareness</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="text-center">
        <button data-toggle="modal" data-target="#Venue-SignUp" class="btn btn-outline-primary">Venue Signup</button>
      </div>
    </div>
  </div>
</div>


