.fa-facebook{
  color: #3b5998;
}

.fa-twitter{
  color: #00aced;
}

.fa-instagram{
  color: #cb2027;
}

footer {
  background-color: rgb(48,48,58);
}

img {
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#img-container {
  position: relative;
  display: block;
  height: 150px;
}

.social {
  display: block;
  padding-top: 30px;
  text-align: center;
  padding-left: 0;
  list-style: none;

  li {
    margin-right: 30px;
    display: inline-block;
    a i {
      font-size: 32px;
    }
  }
}

.nav-info {
  display: block;
  text-align: center;
  padding-left: 0;
  list-style: none;

  li {
    margin-right: 30px;
    display: inline-block;
    a {
      color: white;
    }
  }

  li:hover {
    a {
      color: white;
    }
  }
}


#main-info {
  display: block;
  padding-top: 30px;
  text-align: center;
  color: white;
}

#sub-info {
  display: block;
  padding-top: 20px;
  text-align: center;
  color: white;
}

#footer-CompanyInfo{
  margin-top: -4vh;
}
