<footer class="container-fluid">
  <!--<div class="row justify-content-center" id="footer-logo">-->
  <!--</div>-->
  <div class="row">
    <div class="col-lg-6" id="footer-link">
      <div id="social-link">
        <ul class="social">
          <li><a href="https://www.facebook.com/suitsandtables/" target="_blank"><i class="fa fa-facebook fa-lg"></i></a></li>
          <li><a href="https://twitter.com/suitsandtables?lang=en" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
          <li><a href="https://www.instagram.com/suitsandtables/" target="_blank"><i class="fa fa-instagram fa-lg"></i></a></li>
        </ul>
      </div>

      <div id="nav-link">
        <ul class="nav-info d-flex justify-content-between">
          <li><a routerLink="/team">The Team</a></li>
          <li><a routerLink="/partner">Partner With Us</a></li>
          <li><a routerLink="/privacy">Privacy</a></li>
          <li><a routerLink="/terms">Terms</a></li>
          <li><a routerLink="/contact">Contact Us</a></li>
        </ul>
      </div>
    </div>

    <div class="col-lg-6 mt-5 mt-lg-0" id="footer-CompanyInfo">
      <div id="main-info">
        211 W Wacker Drive | Suite 300 | Chicago, IL 60606 | 312.957.7937
      </div>

      <div id="sub-info">
        &copy; Suits And Tables Inc | All Rights Reserved
      </div>
    </div>
  </div>

</footer>
