/* .navchoice{
  border: solid black 1px;
  width: 80%;
  height: 60px;
}

h5{

  color: purple;
  margin-top: 20px;
  margin-left: 10px;
} */

li a:active{
  background-color: #00b3ee;
  color: white;
}

.nav {
  margin-top: 20px;
}
