<!-- <app-carousal>
</app-carousal> -->

<div *ngIf="choicesload" class="container">
  <div class="row">
    <div class="spinner-container">
      <div class="spinner"></div>
    </div>
  </div>
</div>

<div *ngIf="!choicesload" class="container">
  <div class="row">
    <div class="col-12">
      <slideshow *ngIf="!fullbuyoutroomactive"
        class="card-container-img"
        [showArrows]="true"
        [imageUrls]="room.roomimage_set"
        [height]="roomheight">
      </slideshow>
      <slideshow *ngIf="fullbuyoutroomactive && venue.venuefullbuyoutphoto_set.length > 0"
         class="card-container-img"
         [showArrows]="true"
         [imageUrls]="venue.venuefullbuyoutphoto_set"
         [height]="roomheight">
      </slideshow>
      <slideshow *ngIf="fullbuyoutroomactive && venue.venuefullbuyoutphoto_set.length < 1"
                 class="card-container-img"
                 [showArrows]="true"
                 [imageUrls]="venue.venueimage_set"
                 [height]="roomheight">
      </slideshow>
    </div>
  </div>
  <div id="RoomMain" class="Section">
    <div class="row">
    <div class="SecHeadunderline col-6">
      <div class="float-left">
        <a style="text-decoration: underline" [routerLink]="['/venue',venue.name]">{{ venue.name }}</a>
      </div>
    </div>
      <div class="col-6 d-none d-md-block">
        <div class="float-right">
          <form #rfpchoiceform="ngForm">
            <select class="form-control" (ngModelChange)="rfptoggle(rfpchoiceform, createProp, createSaved)"
                    id="rfpsendselect"
                    name="rfpsendselect"
                    [ngModel]="dropdownreset">
              <option value="">Send RFP</option>
              <option value="n">Create New RFP</option>
              <option [disabled]="savedrfps.length < 1" value="s">Create From Saved</option>
            </select>
          </form>
        </div>
      </div>
    </div>
    <div class="row negmargin">
      <div *ngIf="!fullbuyoutroomactive" class="col-auto roommain">
        {{ roomname }} |
      </div>
      <div *ngIf="fullbuyoutroomactive" class="col-auto roommain">
          Full Buyout
      </div>
      <div *ngIf="!fullbuyoutroomactive">
      <div class="col-auto STnopadding roommain" *ngIf= "room.privateroom == true">
        Private
      </div>
      </div>
      <div *ngIf="!fullbuyoutroomactive">
      <div class="col-auto STnopadding roommain" *ngIf= "room.semiprivateroom == true">
        Semi-Private
      </div>
      </div>
      <div class="col-9 ml-3 STnopadding" *ngIf="!fullbuyoutroomactive">
        <div class="float-right">
          <div class="col-auto roommain" *ngIf='room.minimumspend !=null'>
            Minimum Spend: <span>${{room.minimumspend}}</span>
          </div>
          <div class="col-auto roommain" *ngIf='room.minimumspend ==null'>
            Minimum Spend: <span>Please Inquire</span>
          </div>
        </div>
        <div class="col-auto STnopadding" *ngIf="fullbuyoutroomactive">
          <div class="col-auto roommain" *ngIf='venue.fullbuyoutminspend !=null'>
            Minimum Spend: <span>${{venue.fullbuyoutminspend}}</span>
          </div>
          <div class="col-auto roommain" *ngIf='venue.fullbuyoutminspend ==null'>
            Minimum Spend: <span>Please Inquire</span>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="row Section negmargin">
      <div *ngIf="!fullbuyoutroomactive && room.seatedcapacity != null" class="col-auto roommain"> {{ room.seatedcapacity }} Seated |
      </div>
      <div *ngIf="!fullbuyoutroomactive && room.seatedcapacity == null" class="col-auto roommain"> N/A Seated |
      </div>
      <div *ngIf="fullbuyoutroomactive && venue.fullbuyoutseatedcapacity != null" class="col-auto  roommain"> {{ venue.fullbuyoutseatedcapacity }} Seated |</div>
      <div *ngIf="fullbuyoutroomactive && venue.fullbuyoutseatedcapacity == null" class="col-auto  roommain"> N/A Seated |
      </div>
      <div *ngIf="!fullbuyoutroomactive && room.standingcapacity != null" class="col-auto STnopadding roommain">{{ room.standingcapacity }} Standing  </div>
      <div *ngIf="!fullbuyoutroomactive && room.standingcapacity == null" class="col-auto  roommain"> N/A standing </div>
      <div *ngIf="fullbuyoutroomactive && venue.fullbuyoutstandingcapactiy != null" id="Stand" class="col-auto roommain"> {{ venue.fullbuyoutstandingcapactiy }} Standing </div>
      <div *ngIf="fullbuyoutroomactive && venue.fullbuyoutstandingcapactiy == null" id="Stand" class="col-auto roommain"> N/A Standing </div>
      <br>
      <br>
    </div>

  <div class="col-row d-xs-block d-md-none">
    <form #rfpchoiceform="ngForm" class="col-12">
      <select class="form-control" (ngModelChange)="rfptoggle(rfpchoiceform, createProp, createSaved)"
              id="rfpsendselect"
              name="rfpsendselect"
              [ngModel]="dropdownreset">
        <option value="">Send RFP</option>
        <option value="n">Create New RFP</option>
        <option [disabled]="savedrfps.length < 1" value="s">Create From Saved</option>
      </select>
    </form>
  </div>

  <div id="RoomDes" class="Section">
    <div class="SecHead">Description</div>
    <p *ngIf="!fullbuyoutroomactive">{{ room.description }}</p>
    <p *ngIf="fullbuyoutroomactive">{{venue.fullbuyoutdescription}}</p>
  </div>

  <div id="AmentityInfo" class="Section">
    <div class="SecHead">Amenities</div>
    <div class="row">
      <div class="col-md-3 col-6">
        <p *ngIf="!fullbuyoutroomactive && room.surroundsoundamenity" class="hasprop">Surround Sound</p>
        <p *ngIf="!fullbuyoutroomactive && !room.surroundsoundamenity" class="nothasprop">Surround Sound</p>
        <p *ngIf="fullbuyoutroomactive && venue.fullbuyoutsurrondsoundamenity" class="hasprop">Surround Sound</p>
        <p *ngIf="fullbuyoutroomactive && !venue.fullbuyoutsurrondsoundamenity" class="nothasprop">Surround Sound</p>
      </div>
      <div class="col-md-3 col-6">
        <p *ngIf="!fullbuyoutroomactive && room.microphoneamenity" class="hasprop">Microphone</p>
        <p *ngIf="!fullbuyoutroomactive && !room.microphoneamenity" class="nothasprop">Microphone</p>
        <p *ngIf="fullbuyoutroomactive && venue.fullbuyoutmicrophoneamenity" class="hasprop">Microphone</p>
        <p *ngIf="fullbuyoutroomactive && !venue.fullbuyoutmicrophoneamenity" class="nothasprop">Microphone</p>
      </div>
      <div class="col-md-3 col-6">
        <p *ngIf="!fullbuyoutroomactive && room.stageamenity" class="hasprop">Stage</p>
        <p *ngIf="!fullbuyoutroomactive && !room.stageamenity" class="nothasprop">Stage</p>
        <p *ngIf="fullbuyoutroomactive && venue.fullbuyoutstageamenity" class="hasprop">Stage</p>
        <p *ngIf="fullbuyoutroomactive && !venue.fullbuyoutstageamenity" class="nothasprop">Stage</p>
      </div>
      <div class="col-md-3 col-6">
        <p *ngIf="!fullbuyoutroomactive && room.televisionamenity" class="hasprop">Television</p>
        <p *ngIf="!fullbuyoutroomactive && !room.televisionamenity" class="nothasprop">Television</p>
        <p *ngIf="fullbuyoutroomactive && venue.fullbuyouttelevisionamenity" class="hasprop">Television</p>
        <p *ngIf="fullbuyoutroomactive && !venue.fullbuyouttelevisionamenity" class="nothasprop">Television</p>
      </div>
      <div class="col-md-3 col-6">
        <p *ngIf="!fullbuyoutroomactive && room.screenprojectoramenity" class="hasprop">Screen + Projector</p>
        <p *ngIf="!fullbuyoutroomactive && !room.screenprojectoramenity" class="nothasprop">Screen + Projector</p>
        <p *ngIf="fullbuyoutroomactive && venue.fullbuyoutscreenprojectoramenity" class="hasprop">Screen + Projector</p>
        <p *ngIf="fullbuyoutroomactive && !venue.fullbuyoutscreenprojectoramenity" class="nothasprop">Screen + Projector</p>
      </div>
      <div class="col-md-3 col-6">
        <p *ngIf="!fullbuyoutroomactive && room.naturallightamenity" class="hasprop">Natural Light</p>
        <p *ngIf="!fullbuyoutroomactive && !room.naturallightamenity" class="nothasprop">Natural Light</p>
        <p *ngIf="fullbuyoutroomactive && venue.fullbuyoutnaturallightamenity" class="hasprop">Natural Light</p>
        <p *ngIf="fullbuyoutroomactive && !venue.fullbuyoutnaturallightamenity" class="nothasprop">Natural Light</p>
      </div>
      <div class="col-md-3 col-6">
        <p *ngIf="!fullbuyoutroomactive && room.wifiamenity" class="hasprop">WiFi</p>
        <p *ngIf="!fullbuyoutroomactive && !room.wifiamenity" class="nothasprop">WiFi</p>
        <p *ngIf="fullbuyoutroomactive && venue.fullbuyoutwifiamenity" class="hasprop">WiFi</p>
        <p *ngIf="fullbuyoutroomactive && !venue.fullbuyoutwifiamenity" class="nothasprop">WiFi</p>
      </div>
      <div class="col-md-3 col-6">
        <p *ngIf="!fullbuyoutroomactive && room.wheelchairaccessibleamenity" class="hasprop"> Wheelchair Accessible</p>
        <p *ngIf="!fullbuyoutroomactive && !room.wheelchairaccessibleamenity" class="nothasprop"> Wheelchair Accessible</p>
        <p *ngIf="fullbuyoutroomactive && venue.fullbuyoutwheelchairaccessibleamenity" class="hasprop"> Wheelchair Accessible</p>
        <p *ngIf="fullbuyoutroomactive && !venue.fullbuyoutwheelchairaccessibleamenity" class="nothasprop"> Wheelchair Accessible</p>
      </div>
    </div>
  </div>

  <div id="CapacityInfo" class="Section">
    <div class="SecHead">Capacities</div>
    <div class="row">
      <div class="col-md-3 col-6">
        <p *ngIf="!fullbuyoutroomactive && room.cocktailstandingseatingoption" class="hasprop">Cocktail / Standing</p>
        <p *ngIf="!fullbuyoutroomactive && !room.cocktailstandingseatingoption" class="nothasprop">Cocktail / Standing</p>
        <p *ngIf="fullbuyoutroomactive && venue.fullbuyoutcocktailstandingseatingoption" class="hasprop">Cocktail / Standing</p>
        <p *ngIf="fullbuyoutroomactive && !venue.fullbuyoutcocktailstandingseatingoption" class="nothasprop">Cocktail / Standing</p>
      </div>
      <div class="col-md-3 col-6">
        <p *ngIf="!fullbuyoutroomactive && room.classroomseatingoption" class="hasprop">Classroom</p>
        <p *ngIf="!fullbuyoutroomactive && !room.classroomseatingoption" class="nothasprop">Classroom</p>
        <p *ngIf="fullbuyoutroomactive && venue.fullbuyoutclassroomseatingoption" class="hasprop"
        >Classroom</p>
        <p *ngIf="fullbuyoutroomactive && !venue.fullbuyoutclassroomseatingoption" class="nothasprop"
        >Classroom</p>
      </div>
      <div class="col-md-3 col-6">
        <p *ngIf="!fullbuyoutroomactive && room.ushapeseatingoption" class="hasprop">U-Shape</p>
        <p *ngIf="!fullbuyoutroomactive && !room.ushapeseatingoption" class="nothasprop">U-Shape</p>
        <p *ngIf="fullbuyoutroomactive && venue.fullbuyoutushapeseatingoption" class="hasprop">U-Shape</p>
        <p *ngIf="fullbuyoutroomactive && !venue.fullbuyoutushapeseatingoption" class="nothasprop">U-Shape</p>
      </div>
      <div class="col-md-3 col-6">
        <p *ngIf="!fullbuyoutroomactive && room.sixtyroundseatingoption" class="hasprop">60" Rounds</p>
        <p *ngIf="!fullbuyoutroomactive && !room.sixtyroundseatingoption" class="nothasprop">60" Rounds</p>
        <p *ngIf="fullbuyoutroomactive && venue.fullbuyoutsixtyroundseatingoption" class="hasprop">60" Rounds</p>
        <p *ngIf="fullbuyoutroomactive && !venue.fullbuyoutsixtyroundseatingoption" class="nothasprop">60" Rounds</p>
      </div>
      <div class="col-md-3 col-6">
        <p *ngIf="!fullbuyoutroomactive && room.boardroomseatingoption" class="hasprop">Boardroom</p>
        <p *ngIf="!fullbuyoutroomactive && !room.boardroomseatingoption" class="nothasprop">Boardroom</p>
        <p *ngIf="fullbuyoutroomactive && venue.fullbuyoutboardroomseatingoption" class="hasprop">Boardroom</p>
        <p *ngIf="fullbuyoutroomactive && !venue.fullbuyoutboardroomseatingoption" class="nothasprop">Boardroom</p>
      </div>
      <div class="col-md-3 col-6">
        <p *ngIf="!fullbuyoutroomactive && room.theaterseatingoption" class="hasprop">Theater</p>
        <p *ngIf="!fullbuyoutroomactive && !room.theaterseatingoption" class="nothasprop">Theater</p>
        <p *ngIf="fullbuyoutroomactive && venue.fullbuyouttheaterseatingoption" class="hasprop">Theater</p>
        <p *ngIf="fullbuyoutroomactive && !venue.fullbuyouttheaterseatingoption" class="nothasprop">Theater</p>
      </div>
      <div class="col-md-3 col-6">
        <p *ngIf="!fullbuyoutroomactive && room.hallowsquareseatingoption" class="hasprop">Hallow Square</p>
        <p *ngIf="!fullbuyoutroomactive && !room.hallowsquareseatingoption" class="nothasprop">Hallow Square</p>
        <p *ngIf="fullbuyoutroomactive && venue.fullbuyouthallowsquareseatingoption" class="hasprop">Hallow Square</p>
        <p *ngIf="fullbuyoutroomactive && !venue.fullbuyouthallowsquareseatingoption" class="nothasprop">Hallow Square</p>
      </div>
      <div class="col-md-3 col-6">
        <p *ngIf="fullbuyoutroomactive && venue.fullbuyoutoutdoorseatingamenity" class="hasprop">Outdoor Seating</p>
        <p *ngIf="fullbuyoutroomactive && !venue.fullbuyoutoutdoorseatingamenity" class="nothasprop">Outdoor Seating</p>
      </div>
      <div *ngIf="!fullbuyoutroomactive" class="col-md-3 col-6">
        <p *ngIf="room.privatecoatcheck" class="hasprop">Private Coat Check</p>
        <p *ngIf="!room.privatecoatcheck" class="nothasprop">Private Coat Check</p>
      </div>
      <div *ngIf="!fullbuyoutroomactive" class="col-md-3 col-6">
        <p *ngIf="room.privatewashroom" class="hasprop">Private Wash Room</p>
        <p *ngIf="!room.privatewashroom" class="nothasprop">Private Wash Room</p>
      </div>
      <div *ngIf="!fullbuyoutroomactive" class="col-md-3 col-6">
        <p *ngIf="room.privatebar" class="hasprop">Private Bar</p>
        <p *ngIf="!room.privatebar" class="nothasprop">Private Bar</p>
      <div>
    </div>
  </div>

  <div *ngIf="(!fullbuyoutroomactive && venue.fullbuyoutonline) || otherrooms.length > 0" id="OtherRooms" class="Section">
    <div class="SecHead">View More Rooms</div>
    <div class="row">
      <div *ngIf="!fullbuyoutroomactive && venue.fullbuyoutonline" class="col-sm-12 col-md-6 col-lg-4 pb-4">
        <div class="card-container">
          <div (click)="navigatetofullbuyout()" class="clickoverlay">
            <!-- overlay div for a clickable slide show frame -->
          </div>
          <div class="card-container-img">
            <slideshow
              [showArrows]="true"
              [imageUrls]="venue.venueimage_set">
            </slideshow>
          </div>

          <div class="card-container-information" style="cursor: pointer" [routerLink]="['/venue',venue.name,'fullbuyout']">
            <div class="card-container-information__main">
              Full Buyout
            </div>

            <p class="card-container-information__sub">
              <span class="card-container-information__sub--food">Private</span>
              <span *ngIf="venue.fullbuyoutseatedcapacity != null" id="seat-number" class="card-container-information__sub--price">{{ venue.fullbuyoutseatedcapacity }} Seated</span>
              <span *ngIf="venue.fullbuyoutseatedcapacity == null" id="seat-number" class="card-container-information__sub--price">N/A Seated</span>
              <span *ngIf="venue.fullbuyoutstandingcapactiy != null" id="stand-number" class="card-container-information__sub--room">{{ venue.fullbuyoutstandingcapactiy }} Standing</span>
              <span *ngIf="venue.fullbuyoutstandingcapactiy == null" id="stand-number" class="card-container-information__sub--room">N/A Standing</span>
            </p>
            <div class="col-12">
              <div class="float-left">
                <div *ngIf="venue.fullbuyoutminspend == null" class="card-min-spend STnopadding">
                  Minimum Spend : Please Inquire
                </div>
                <div *ngIf="venue.fullbuyoutminspend != null" class="card-min-spend STnopadding">
                  Minimum Spend : {{venue.fullbuyoutminspend}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 pb-4" *ngFor="let r of otherrooms; let i = index">
        <div class="card-container">
          <div (click)="navigatetoroom(i)" class="clickoverlay">
            <!-- overlay div for a clickable slide show frame -->
          </div>
          <div class="card-container-img">
            <slideshow
              [showArrows]="true"
              [imageUrls]="r.roomimage_set">
            </slideshow>
          </div>

          <div style="cursor: pointer;" class="card-container-information" [routerLink]="['/venue',venue.name,r.name]">
            <div class="card-container-information__main">
              {{ r.name }}
            </div>

            <p class="card-container-information__sub">
              <span *ngIf="r.privateroom == true" class="card-container-information__sub--food">Private</span>
              <span *ngIf="r.semiprivateroom == true" class="card-container-information__sub--food">Semi-Private</span>

              <span *ngIf="r.seatedcapacity != null" id="seat-number" class="card-container-information__sub--price">{{ r.seatedcapacity }} Seated</span>
              <span *ngIf="r.seatedcapacity == null" id="seat-number" class="card-container-information__sub--price">{{ r.seatedcapacity }} Seated</span>
              <span *ngIf="r.seatedcapacity != null" id="stand-number" class="card-container-information__sub--room">{{ r.standingcapacity }} Standing</span>
              <span *ngIf="r.seatedcapacity == null" id="stand-number" class="card-container-information__sub--room">{{ r.standingcapacity }} Standing</span>
            </p>
            <div class="col-12">
              <div class="float-left">
                <div *ngIf="r.minimumspend == null" class="card-min-spend STnopadding">
                  Minimum Spend : Please Inquire
                </div>
                <div *ngIf="r.minimumspend != null" class="card-min-spend STnopadding">
                  Minimum Spend : {{r.minimumspend}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <ng-template #createProp let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Request For Proposal</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="sendrfp(rfpforminputs)" #rfpforminputs ="ngForm">
        <div *ngIf="!loginorsignup && !rfpsent" class="row">
          <div class="col-6">
            <input class="form-control"
                   type="text"
                   placeholder="Name Of Event *"
                   id="eventname"
                   name="eventname"
                   required
                   [ngModel]="savedevent.name">
          </div>
          <div class="col-6">
            <input class="form-control"
                   type="date"
                   placeholder="Date Of Event *"
                   id="eventdate"
                   name="eventdate"
                   required
                   [ngModel]="savedevent.programdate">
            <br>
            <div class="checkboxdiv">
              <input class="form-check-input"
                     type="checkbox"
                     id="dateflexcheckbox"
                     name="dateflexcheckbox"
                     [ngModel]="savedevent.dateflexcheckbox">
              <label class="form-check-label">Date is flexible</label>
            </div>
          </div>
          <div class="col-6">
            <select class="form-control"
                    id="eventpurpose"
                    name="eventpurpose"
                    required
                    [ngModel]="savedevent.eventpurpose">
              <option value="">Select Event Purpose *</option>
              <option *ngFor="let p of eventpurpose" [value]="p.purpose">{{p.purpose}}</option>
            </select>
          </div>
          <div class="col-6">
            <select class="form-control"
                    id="startime"
                    name="starttime"
                    required
                    [ngModel]="savedevent.starttime">
              <option value=""  selected>Select Start Time *</option>
              <option value="8:00 AM">8:00 AM</option>
              <option value="8:15 AM">8:15 AM</option>
              <option value="8:30 AM">8:30 AM</option>
              <option value="8:45 AM">8:45 AM</option>
              <option value="9:00 AM">9:00 AM</option>
              <option value="9:15 AM">9:15 AM</option>
              <option value="9:30 AM">9:30 AM</option>
              <option value="9:45 AM">9:45 AM</option>
              <option value="10:00 AM">10:00 AM</option>
              <option value="10:15 AM">10:15 AM</option>
              <option value="10:30 AM">10:30 AM</option>
              <option value="10:45 AM">10:45 AM</option>
              <option value="11:00 AM">11:00 AM</option>
              <option value="11:15 AM">11:15 AM</option>
              <option value="11:30 AM">11:30 AM</option>
              <option value="11:45 AM">11:45 AM</option>
              <option value="12:00 PM">12:00 PM</option>
              <option value="12:15 PM">12:15 PM</option>
              <option value="12:30 PM">12:30 PM</option>
              <option value="12:45 PM">12:45 PM</option>
              <option value="1:00 PM">1:00 PM</option>
              <option value="1:15 PM">1:15 PM</option>
              <option value="1:30 PM">1:30 PM</option>
              <option value="1:45 PM">1:45 PM</option>
              <option value="2:00 PM">2:00 PM</option>
              <option value="2:15 PM">2:15 PM</option>
              <option value="2:30 PM">2:30 PM</option>
              <option value="2:45 PM">2:45 PM</option>
              <option value="3:00 PM">3:00 PM</option>
              <option value="3:15 PM">3:15 PM</option>
              <option value="3:30 PM">3:30 PM</option>
              <option value="3:45 PM">3:45 PM</option>
              <option value="4:00 PM">4:00 PM</option>
              <option value="4:15 PM">4:15 PM</option>
              <option value="4:30 PM">4:30 PM</option>
              <option value="4:45 PM">4:45 PM</option>
              <option value="5:00 PM">5:00 PM</option>
              <option value="5:15 PM">5:15 PM</option>
              <option value="5:30 PM">5:30 PM</option>
              <option value="5:45 PM">5:45 PM</option>
              <option value="6:00 PM">6:00 PM</option>
              <option value="6:15 PM">6:15 PM</option>
              <option value="6:30 PM">6:30 PM</option>
              <option value="6:45 PM">6:45 PM</option>
              <option value="7:00 PM">7:00 PM</option>
              <option value="7:15 PM">7:15 PM</option>
              <option value="7:30 PM">7:30 PM</option>
              <option value="7:45 PM">7:45 PM</option>
              <option value="8:00 PM">8:00 PM</option>
              <option value="8:15 PM">8:15 PM</option>
              <option value="8:30 PM">8:30 PM</option>
              <option value="8:45 PM">8:45 PM</option>
              <option value="9:00 PM">9:00 PM</option>
              <option value="9:15 PM">9:15 PM</option>
              <option value="9:30 PM">9:30 PM</option>
              <option value="9:45 PM">9:45 PM</option>
              <option value="10:00 PM">10:00 PM</option>
              <option value="10:15 PM">10:15 PM</option>
              <option value="10:30 PM">10:30 PM</option>
              <option value="10:45 PM">10:45 PM</option>
              <option value="11:00 PM">11:00 PM</option>
              <option value="11:15 PM">11:15 PM</option>
              <option value="11:30 PM">11:30 PM</option>
              <option value="11:45 PM">11:45 PM</option>
              <option value="12:00 AM">12:00 AM</option>
              <option value="12:15 AM">12:15 AM</option>
              <option value="12:30 AM">12:30 AM</option>
              <option value="12:45 AM">12:45 AM</option>
              <option value="1:00 AM">1:00 AM</option>
              <option value="1:15 AM">1:15 AM</option>
              <option value="1:30 AM">1:30 AM</option>
              <option value="1:45 AM">1:45 AM</option>
              <option value="2:00 AM">2:00 AM</option>
              <option value="2:15 AM">2:15 AM</option>
              <option value="2:30 AM">2:30 AM</option>
              <option value="2:45 AM">2:45 AM</option>
              <option value="3:00 AM">3:00 AM</option>
              <option value="3:15 AM">3:15 AM</option>
              <option value="3:30 AM">3:30 AM</option>
              <option value="3:45 AM">3:45 AM</option>
              <option value="4:00 AM">4:00 AM</option>
              <option value="4:15 AM">4:15 AM</option>
              <option value="4:30 AM">4:30 AM</option>
              <option value="4:45 AM">4:45 AM</option>
              <option value="5:00 AM">5:00 AM</option>
              <option value="5:15 AM">5:15 AM</option>
              <option value="5:30 AM">5:30 AM</option>
              <option value="5:45 AM">5:45 AM</option>
              <option value="6:00 AM">6:00 AM</option>
              <option value="6:15 AM">6:15 AM</option>
              <option value="6:30 AM">6:30 AM</option>
              <option value="6:45 AM">6:45 AM</option>
              <option value="7:00 AM">7:00 AM</option>
              <option value="7:15 AM">7:15 AM</option>
              <option value="7:30 AM">7:30 AM</option>
              <option value="7:45 AM">7:45 AM</option>
            </select>
            <br>
            <div class="checkboxdiv">
              <input class="form-check-input"
                     type="checkbox"
                     id="startimeflexcheckbox"
                     name="starttimeflexcheckbox"
                     [ngModel]="savedevent.starttimeflexcheckbox">
              <label class="form-check-label">Start Time is Flexible</label>
            </div>
          </div>
          <div class="col-6">
            <select class="form-control"
                    id="endtime"
                    name="endtime"
                    [ngModel]="savedevent.endtime">
              <option value="" disabled selected>Select End Time</option>
              <option value="8:00 AM">8:00 AM</option>
              <option value="8:15 AM">8:15 AM</option>
              <option value="8:30 AM">8:30 AM</option>
              <option value="8:45 AM">8:45 AM</option>
              <option value="9:00 AM">9:00 AM</option>
              <option value="9:15 AM">9:15 AM</option>
              <option value="9:30 AM">9:30 AM</option>
              <option value="9:45 AM">9:45 AM</option>
              <option value="10:00 AM">10:00 AM</option>
              <option value="10:15 AM">10:15 AM</option>
              <option value="10:30 AM">10:30 AM</option>
              <option value="10:45 AM">10:45 AM</option>
              <option value="11:00 AM">11:00 AM</option>
              <option value="11:15 AM">11:15 AM</option>
              <option value="11:30 AM">11:30 AM</option>
              <option value="11:45 AM">11:45 AM</option>
              <option value="12:00 PM">12:00 PM</option>
              <option value="12:15 PM">12:15 PM</option>
              <option value="12:30 PM">12:30 PM</option>
              <option value="12:45 PM">12:45 PM</option>
              <option value="1:00 PM">1:00 PM</option>
              <option value="1:15 PM">1:15 PM</option>
              <option value="1:30 PM">1:30 PM</option>
              <option value="1:45 PM">1:45 PM</option>
              <option value="2:00 PM">2:00 PM</option>
              <option value="2:15 PM">2:15 PM</option>
              <option value="2:30 PM">2:30 PM</option>
              <option value="2:45 PM">2:45 PM</option>
              <option value="3:00 PM">3:00 PM</option>
              <option value="3:15 PM">3:15 PM</option>
              <option value="3:30 PM">3:30 PM</option>
              <option value="3:45 PM">3:45 PM</option>
              <option value="4:00 PM">4:00 PM</option>
              <option value="4:15 PM">4:15 PM</option>
              <option value="4:30 PM">4:30 PM</option>
              <option value="4:45 PM">4:45 PM</option>
              <option value="5:00 PM">5:00 PM</option>
              <option value="5:15 PM">5:15 PM</option>
              <option value="5:30 PM">5:30 PM</option>
              <option value="5:45 PM">5:45 PM</option>
              <option value="6:00 PM">6:00 PM</option>
              <option value="6:15 PM">6:15 PM</option>
              <option value="6:30 PM">6:30 PM</option>
              <option value="6:45 PM">6:45 PM</option>
              <option value="7:00 PM">7:00 PM</option>
              <option value="7:15 PM">7:15 PM</option>
              <option value="7:30 PM">7:30 PM</option>
              <option value="7:45 PM">7:45 PM</option>
              <option value="8:00 PM">8:00 PM</option>
              <option value="8:15 PM">8:15 PM</option>
              <option value="8:30 PM">8:30 PM</option>
              <option value="8:45 PM">8:45 PM</option>
              <option value="9:00 PM">9:00 PM</option>
              <option value="9:15 PM">9:15 PM</option>
              <option value="9:30 PM">9:30 PM</option>
              <option value="9:45 PM">9:45 PM</option>
              <option value="10:00 PM">10:00 PM</option>
              <option value="10:15 PM">10:15 PM</option>
              <option value="10:30 PM">10:30 PM</option>
              <option value="10:45 PM">10:45 PM</option>
              <option value="11:00 PM">11:00 PM</option>
              <option value="11:15 PM">11:15 PM</option>
              <option value="11:30 PM">11:30 PM</option>
              <option value="11:45 PM">11:45 PM</option>
              <option value="12:00 AM">12:00 AM</option>
              <option value="12:15 AM">12:15 AM</option>
              <option value="12:30 AM">12:30 AM</option>
              <option value="12:45 AM">12:45 AM</option>
              <option value="1:00 AM">1:00 AM</option>
              <option value="1:15 AM">1:15 AM</option>
              <option value="1:30 AM">1:30 AM</option>
              <option value="1:45 AM">1:45 AM</option>
              <option value="2:00 AM">2:00 AM</option>
              <option value="2:15 AM">2:15 AM</option>
              <option value="2:30 AM">2:30 AM</option>
              <option value="2:45 AM">2:45 AM</option>
              <option value="3:00 AM">3:00 AM</option>
              <option value="3:15 AM">3:15 AM</option>
              <option value="3:30 AM">3:30 AM</option>
              <option value="3:45 AM">3:45 AM</option>
              <option value="4:00 AM">4:00 AM</option>
              <option value="4:15 AM">4:15 AM</option>
              <option value="4:30 AM">4:30 AM</option>
              <option value="4:45 AM">4:45 AM</option>
              <option value="5:00 AM">5:00 AM</option>
              <option value="5:15 AM">5:15 AM</option>
              <option value="5:30 AM">5:30 AM</option>
              <option value="5:45 AM">5:45 AM</option>
              <option value="6:00 AM">6:00 AM</option>
              <option value="6:15 AM">6:15 AM</option>
              <option value="6:30 AM">6:30 AM</option>
              <option value="6:45 AM">6:45 AM</option>
              <option value="7:00 AM">7:00 AM</option>
              <option value="7:15 AM">7:15 AM</option>
              <option value="7:30 AM">7:30 AM</option>
              <option value="7:45 AM">7:45 AM</option>
            </select>
            <br>
            <div class="checkboxdiv">
              <input class="form-check-input"
                     type="checkbox"
                     id="endtimecheckbox"
                     name="endtimecheckbox"
                     [ngModel]="savedevent.endtimecheckbox">
              <label class="form-check-label">End Time is Flexible</label>
            </div>
          </div>
          <div class="col-6">
            <input class="form-control"
                   type="number"
                   id="guestcount"
                   placeholder="Number of Guests *"
                   name="guestcount"
                   required
                   [ngModel]="savedevent.headcount">
          </div>
          <div class="col-6">
            <select class="form-control"
                    id="roomselect"
                    required
                    name="roomselect"
                    [ngModel]="roomname">
              <option value="">Select Room * </option>
              <option value="no preference">No Preference</option>
              <option *ngFor="let room of roomnames" [value]="room">{{room}}</option>
            </select>
            <br>
            <span *ngIf="invalidroom" style="color: red">Please choose a room or select No Preference</span>
          </div>
          <div class="col-12">
          <textarea rows="10"
                    class="form-control"
                    id="eventdetails"
                    name="eventdetails"
                    placeholder="Event Details and Accommodation Requests"
                    [ngModel]="savedevent.eventdetails">

            </textarea>
          </div>
          <div class="modal-footer">
            <button [disabled]="!rfpforminputs.valid" type="submit" class="btn btn-primary">Submit RFP</button>
            <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
          </div>
        </div> <!-- loginsignup -->
      </form>
      <div *ngIf="rfpsent">
        <h3>Your RFP has been sent!</h3>
      </div>
      <div *ngIf="loginorsignup">
        <div *ngIf="!signup">
          <form>
            <div class="row">
              <div class="col-12 text-center">
                <h3>Log In</h3>
              </div>
              <div class="col-12 text-center">
                <p>Your RFP has been saved, but you'll need to sign up or login to send it.</p>
              </div>
              <form (ngSubmit)="login(loginform)" #loginform="ngForm">
                <div class="col-12">
                  <label>Email</label>
                  <input class="form-control"
                         type="email"
                         id="loginemail"
                         name="loginemail"
                         ngModel
                         required>
                </div>
                <div class="col-12">
                  <label>Password</label>
                  <input class="form-control"
                         type="password"
                         id="passwordlogin"
                         name="passwordlogin"
                         ngModel
                         required>
                  <br>

                  <input class="form-check-input"
                         type="checkbox"
                         id="remembercheckbox"
                         name="remembercheckbox"
                         ngModel>
                  <label class="form-check-label">Remember me</label>

                  <span style="color: red" *ngIf="invalidinfo">Email or password is incorrect</span>
                  <div id="signuplink">
                    <a style="cursor: pointer "(click)="rfpusersignuptoggle()">Sign Up</a>
                  </div>
                </div>
                <div class="col-12">
                  <button type="submit" class="btn btn-primary float-right">Log In</button>
                </div>
              </form>

            </div>
          </form>
        </div> <!--! signup-->
        <div *ngIf="signup && !verifysignup">
          <form (ngSubmit)="clientsignup(clientsignupform)" #clientsignupform="ngForm">
            <div class="row">
              <div class="col-12">
                <div class="text-center">
                  <h3>Sign Up</h3>
                </div>
                <div class="col-12">
                  <div class="text-center">
                    <h5> * Mandatory Fields </h5>
                  </div>

                </div>
              </div>
              <div class="col-6">
                <input class="form-control"
                       type="text"
                       id="signupfirstname"
                       required
                       placeholder="First Name *"
                       name="signupfirstname"
                       ngModel>
              </div>
              <div class="col-6">
                <input class="form-control"
                       type="text"
                       id="signuplastname"
                       required
                       placeholder="Last Name *"
                       name="signuplastname"
                       ngModel>
              </div>
              <div class="col-6">
                <input class="form-control"
                       type="email"
                       id="signupemail"
                       required
                       placeholder="Email * "
                       name="signupemail"
                       ngModel>
              </div>
              <div class="col-6">
                <input (ngModelChange)="emailconfrim(clientsignupform)"
                       class="form-control"
                       type="email"
                       required
                       placeholder="Confrim Email *"
                       id="signupemailconfrim"
                       name="signupemailconfrim"
                       ngModel>
              </div>
              <div *ngIf="emailnomatch" class ="col-12">
                <div class="text-center">
                  <span style="color: red">Emails do not match</span>
                </div>
              </div>
              <div class="col-6">
                <input class="form-control"
                       type="password"
                       required
                       placeholder="Password *"
                       id="signuppassword"
                       name="signuppassword"
                       ngModel>
              </div>
              <div class="col-6">
                <input (ngModelChange)="passwordconfirm(clientsignupform)"
                       class="form-control"
                       type="password"
                       required
                       placeholder="Confirm Password *"
                       id="signuppasswordconfrim"
                       name="signuppasswordconfrim"
                       ngModel>
              </div>
              <div *ngIf="passwordnomatch" class="col-12">
                <div class="text-center">
                  <span style="color: red">Passwords do not match</span>
                </div>
              </div>
              <div class="col-6">
                <input class="form-control"
                       type="text"
                       id="companyname"
                       placeholder="Company Name"
                       name="companyname"
                       ngModel>

              </div>
              <div class="col-6">
                <input class="form-control"
                       type="text"
                       id="signupphoneinput"
                       placeholder="Phone Number"
                       name="signupphoneinput"
                       ngModel>
              </div>
              <div class="col-12">
                <br>
                <button type="submit" class="btn btn-primary float-right">Sign Up</button>
              </div>
              <div *ngIf="invalidsignup" class="col-12">
                <div class="text-center">
                  <span style="color: red">Please fill out all required fields</span>
                </div>
              </div>
            </div>
          </form>
        </div> <!-- signup ng if -->
        <div *ngIf="verifysignup">
          <form (ngSubmit)="signupverify(signupverifyform)" #signupverifyform="ngForm">
            <div class="row">
              <div class="col-12 text-center">
                <h3>Verification</h3>
              </div>
              <div class="col-12 text-center">
                <p>Please open a new window and find the verification code that has been sent to your email. Enter the code below</p>
              </div>

              <div class="col-12 text-center">
                <label>Verification Code</label>
                <input class="form-control"
                       type="text"
                       id="signupverification"
                       name="signupverification"
                       ngModel>

              </div>

              <div class="col-12">
                <br>
                <button id="verifybutton" type="submit" class="btn btn-primary text-center">Verify</button>
              </div>
            </div>
          </form>
        </div>
      </div> <!--loginsignup ng if-->
    </div>

  </ng-template>


  <ng-template #createSaved let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Saved RFPs</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">Event Name</th>
          <th scope="col">Event Date</th>
          <th scope="col">Event Purpose</th>
          <th scope="col">Start Time</th>
          <th scope="col">End Time</th>
          <th scope="col">Head Count</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let rfp of savedrfps; let i=index">
          <td (click)="populaterfpfromsaved(i, createSaved, createProp )">
            {{rfp.name}}
          </td>
          <td (click)="populaterfpfromsaved(i, createSaved, createProp )">
            {{rfp.eventdate}}
          </td>
          <td (click)="populaterfpfromsaved(i, createSaved, createProp )">
            {{rfp.eventpurpose.purpose}}
          </td>
          <td (click)="populaterfpfromsaved(i, createSaved, createProp )">
            {{rfp.startime}}
          </td>
          <td (click)="populaterfpfromsaved(i, createSaved, createProp )">
            {{rfp.endtime}}
          </td>
          <td (click)="populaterfpfromsaved(i, createSaved, createProp )">
            {{rfp.guestcount}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </ng-template>
