.root{
  position: relative;
}

.imgcontainer{
  height:250px;
  background-size: cover;
}

.statusdiv{
  position: relative;
  left: 35%;
}

.venuemodal{
  position: absolute;
  background-color: white;
  border: solid 2px #00b3ee;
  border-radius: 2%;
  left: 20%;

}
