a{
  color: #00b3ee;
  text-decoration: underline;
}

.forminput{
  margin-top: 41px;
}

label{
  width: 150px;
}

input{
  width: 200px;
}
.profileimage{
  height: 160px;
  max-height: 160px;
  background-size: cover;
}

#namespan{
  /*margin-left: 14%;*/
}

#jobtitlespan{
  /*margin-left: 10%;*/
}

#emailspan{
  /*margin-left: 14%;*/
}

#phonespan{
  /*margin-left: 14%;*/
}

.clientinfo{
  /*margin-top: 40px;*/
}

input#clientnameinput{
  /*margin-left: 14%;*/
}
input#jobtitleinput{
  /*margin-left: 10%;*/
}

input#emailinput{
  /*margin-left: 14.2%;*/
}

input#phoneinput{
  /*margin-left: 13%;*/
}

#editprofile{
  /*margin-left: 2%;*/
  /*display: inline-block;*/
  /*color: white;*/
  /*background-color: #00b3ee;*/
}

#cancel{
  /*margin-left: 21%;*/
  /*display: inline-block;*/
}

.bottom{
  /*position: absolute;*/
  /*right: 0;*/
  /*bottom: 0;*/
}

.align-middle{
  margin-top: 100px;
}

#currentpasswordinput{
  /*margin-left: 5%;*/
}

#newpassword1{
  /*margin-left: 41px;*/
}

#newpassword2{
  /*margin-left: 3px;*/
}

#cancelbutton{
  /*margin-left: 46%;*/
}

#changepasswordbutton{
  /*margin-left: 2%;*/
}

.btn-group{
  /*left: 10%;*/
}

.changepass{
  margin-top: 20px;
  /*left: 20%;*/
}

.container{
  margin-top: 12vh;
  margin-bottom: 22vh;
}
