<div class="container">
  <div class="outerborder">
    <h2 class="text-center">Partner With Us</h2>
    <h4 class="text-center">Submit your venue to Suits
      <span class="STBlue">+</span> Tables</h4>
    <div class="row justify-content-center">
      <div class="col-md-10">
        <form>
          <div class="form-group">
            <label for="inputVenueName" class="col-form-label">Venue Name:</label>
            <input type="text" class="form-control" id="inputVenueName" required>
          </div>

          <div class="row">
            <div class="form-group col-md-6">
              <label for="inputAddress" class="col-form-label">Address 1:</label>
              <input type="text" class="form-control" id="inputAddress" required>
            </div>
            <div class="form-group col-md-6">
              <label for="inputAddress2" class="col-form-label">Address 2:</label>
              <input type="text" class="form-control" id="inputAddress2">
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-6">
              <label for="inputContactName" class="col-form-label">Contact Name:</label>
              <input type="text" class="form-control" id="inputContactName" required>
            </div>
            <div class="form-group col-md-6">
              <label for="inputPhone" class="col-form-label">Phone Number:</label>
              <input type="number" class="form-control" id="inputPhone" required>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="inputJobTitle" class="col-form-label">Job Title:</label>
              <input type="text" class="form-control" id="inputJobTitle">
            </div>
            <div class="form-group col-md-6">
              <label for="inputEmail" class="col-form-label">Contact Email:</label>
              <input type="text" class="form-control" id="inputEmail" required>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="inputCity" class="col-form-label">City:</label>
              <input type="text" class="form-control" id="inputCity" required>
            </div>
            <div class="form-group col-md-4">
              <label for="inputState" class="col-form-label">State:</label>
              <select id="inputState" class="form-control">Choose:</select>
            </div>
            <div class="form-group col-md-2">
              <label for="inputZip" class="col-form-label">Zip:</label>
              <input type="text" class="form-control" id="inputZip" required>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label for="hearaboutus" class="col-form-label">How Did You Hear About Us?</label>
              <input type="text" class="form-control" name="aboutus" id="hearaboutus" ngModel>
            </div>
          </div>

          <button type="button" class="btn btn-primary">Sign Up</button>
        </form>
      </div>
    </div>
  </div>
</div>
