.imagecontainer{
  background-size: cover;
  height: 150px;
}

a{
  text-decoration: underline;
  color: #00b3ee;
}


#editdiv{
  margin-top: 6px;
}

#profilenameinput{
  margin-left: 32px;
  width: 70%;
}

#profileroleinput{
  margin-left: 41px;
  width: 70%;
}

#profileemailinput{
  margin-left: 36px;
  width: 70%;
}

#profilephoneinput{
  margin-left: 32px;
  width: 70%;
}

#cancel{
  margin-left: 26px;
}

#commit{
  margin-left: 5px;
}

#currentpasswordinput{
  margin-left: 23px;
}

#newpassword1{
  margin-left: 40px;
}

#cancelpassword{
  margin-left: 140px;
}

#changepassword{
  margin-left: 10px;
}
