<div class="container-fluid">
  <div class="row">

    <div class="col-12 pannel top">
      <div class="text-center content">
        <h1>Don't Be Shy</h1>
        <h3>Questions? Comments? We'd love to hear from you.</h3>
      </div>
    </div>

    <div class="col-12 pannel">
      <div class="text-center middlecontent content">
        <h2>Need Help?</h2>
        <br>
        <br>
        <h3>1.312.957.7937</h3>
        <br>
        <h3><a>admin@suitsandtables.com</a></h3>
        <br>
        <br>
        <h2>Press Inquires</h2>
        <br>
        <h3><a>media@suitsandtables.com</a></h3>
      </div>
    </div>

    <div class="col-12 bottompannel pannel">
      <div class="text-center bottomcontent content">
        <h2>Have a venue to list?</h2>
        <br>
        <button class="btn btn-outline-primary applybutton"  data-toggle="modal" data-target="#Venue-SignUp"><h4>Apply</h4></button>
      </div>
    </div>

  </div>
</div>
