.container-fluid{
  margin-top: 10vh;
}

.top{
  height: 45vh;
  background-color: #00b3ee;
}

.topshim{
  padding-top: 100px;
}

.middle{
  height : 45vh;
}

.bottom{
  height: 45vh;
  background-color: #00b3ee;
}

.button{
  background-color: white;
}

.button:hover{
  color: black;
}
