<div class="container">
<div class="col-12 text-center">
  <h2>User Verification</h2>
  <div *ngIf="!notfound" class="text-center">
    <div *ngIf="!validateonly">
      <div *ngIf="!validated" class="text-center">
        <h4>Set Your Password</h4>
        <form (ngSubmit)="updatepassword()" #passwordform="ngForm">
          <input (click)="resetpasswordmismatch()"
                 (ngModelChange)="checkpasswordvalidate()"
                 type="password"
                 id="password1"
                 name="password1"
                 class="form-control"
                 ngModel
                 placeholder="Enter a password">
          <br>
          <input (click)="resetpasswordmismatch()"
                 type="password"
                 id="password2"
                 name="password2"
                 class="form-control"
                 ngModel
                 placeholder="Enter password again">
          <br>
          <span style="color: red"  *ngIf="passwordmismatch">Your passwords do not match</span>
          <div>
            <span style="color: red" *ngIf="invalidpassword">A password must be at least 8 characters in length</span>
          </div>
          <button class="btn btn-outline-primary" type="submit">Submit</button>
        </form>
      </div>
      <h2 *ngIf="validated">Your password has been set!</h2>
    </div>
    <div *ngIf="validateonly" class="col-md-5 col-md-offset-3">
      <div class="text-center">
        <h2 *ngIf="!validated">Validating...</h2>
        <h2 *ngIf="validated">Your Account Has been validated!</h2>
      </div>
    </div>
    <div *ngIf="validated">
      <div class="col-md-12">
        <button class="btn btn-outline-primary" (click)="navhomepage()">Navigate To Home Page</button>
      </div>

    </div>
  </div>
  <div *ngIf="notfound">
    <h3>This Verification Link Has Expired</h3>
  </div>
</div>
</div>
