<div class="container-fluid">

  <div id="navbar" class="row">
    <div class="col-md-12">
      <app-suitsnavbar></app-suitsnavbar>
    </div>
  </div>

  <div class="row"> <!-- row with stuff-->

    <div id="navigation" class="col-md-3"> <!--navigation-->
      <app-suitsnavigation></app-suitsnavigation>
    </div> <!--navigation-->

    <div class="col-md-9 admincomponents"> <!--all the cool stuff goes here-->

      <router-outlet></router-outlet>

    </div> <!--all the cool stuff goes here-->



  </div> <!--row with stuff-->


</div> <!--root container-->
