@media (min-width: 768px) {
  .height-half{
    height: 95vh
  }
}

@media (min-width: 992px) {
  .height-half{
    height: 66vh
  }
}

.header {
  text-align: center;
  font-size: 52px;
  font-weight: 100;
  padding-top: 10px;
  margin: 20px;
  font-family: "Helvetica";
  letter-spacing: 2px;
}

.statement {
  text-align: center;
  font-size: 22px;
  font-weight: 100;
  margin-bottom: 20px;
  padding: 0 35px 35px 35px;
}

.background-blue {
  background-color: rgb(68,147,192);
  color: white;
}

.card {
  height: 25rem;
  margin: 2rem 0;
  &__img {
    height: 20rem;
    background-size: cover;
    background-position: center;
    clip-path: circle();
  }

  &__info {
    text-align: center;
    &--header {
      margin: 1rem 0;
      font-size: 1.5rem;
      font-weight: 100;
    }

    &--sub {
      margin: 1rem 0;
      font-size: 1rem;
    }
  }

}
