<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="float-left">
        <h5>Room Preview</h5>
      </div>
      <div class="float-right">
        <button (click)="backtoadmin()" class="btn btn-outline-primary">Back To Admin</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <slideshow *ngIf="!fullbuyoutroomactive"
                 class="card-container-img"
                 [showArrows]="true"
                 [imageUrls]="room.roomimage_set"
                 [height]="roomheight">
      </slideshow>
      <slideshow *ngIf="fullbuyoutroomactive"
                 class="card-container-img"
                 [showArrows]="true"
                 [imageUrls]="venue.venueimage_set"
                 [height]="roomheight">
      </slideshow>
    </div>
  </div>
  <div id="RoomMain" class="Section">
    <div class="SecHeadunderline">
      <a [routerLink]="['/preview','venue',venue.name]">{{ venue.name }}</a>
    </div>
    <div class="row">
      <div *ngIf="!fullbuyoutroomactive" class="col-auto roommain">
        {{ roomname }}
      </div>
      <div *ngIf="fullbuyoutroomactive" class="col-auto roommain">
        Full Buyout
      </div>
      <div *ngIf="!fullbuyoutroomactive">
        <div class="col-auto roommain" *ngIf="room.privateroom == true && !fullbuyoutroomactive">
          Private
        </div>
      </div>
      <div *ngIf="!fullbuyoutroomactive">
        <div class="col-auto roommain" *ngIf="room.semiprivateroom == true && !fullbuyoutroomactive">
          Semi-Private
        </div>
      </div>

      <div *ngIf="!fullbuyoutroomactive" id="Seat" class="col-auto roommain"> {{ room.seatedcapacity }} seated
      </div>
      <div *ngIf="fullbuyoutroomactive" id="Seat" class="col-auto roommain"> {{ venue.fullbuyoutseatedcapacity }} seated
      </div>
      <div *ngIf="!fullbuyoutroomactive" id="Stand" class="col-auto roommain"> {{ room.standingcapacity }} standing </div>
      <div *ngIf="fullbuyoutroomactive" id="Stand" class="col-auto roommain"> {{ venue.fullbuyoutstandingcapactiy }} standing </div>
    </div>
    <div id="RoomDes" class="Section">
      <div class="SecHead">Description</div>
      <p *ngIf="!fullbuyoutroomactive">{{ room.description }}</p>
      <p *ngIf="fullbuyoutroomactive">{{venue.fullbuyoutdescription}}</p>
    </div>

    <div id="AmentityInfo" class="Section">
      <div class="SecHead">Amenities</div>
      <div class="row">
        <div class="col-md-3 col-6">
          <p *ngIf="!fullbuyoutroomactive" [ngStyle]="{'color' : room.surroundsoundamenity === true ? 'black': 'gray' }">Surround Sound</p>
          <p *ngIf="fullbuyoutroomactive" [ngStyle]="{'color' : venue.fullbuyoutsurrondsoundamenity === true ? 'black': 'gray' }">Surround Sound</p>
        </div>
        <div class="col-md-3 col-6">
          <p *ngIf="!fullbuyoutroomactive" [ngStyle]="{'color' : room.microphoneamenity === true ? 'black': 'gray' }">Microphone</p>
          <p *ngIf="fullbuyoutroomactive" [ngStyle]="{'color' : venue.fullbuyoutmicrophoneamenity === true ? 'black': 'gray' }">Microphone</p>
        </div>
        <div class="col-md-3 col-6">
          <p *ngIf="!fullbuyoutroomactive" [ngStyle]="{'color' : room.stageamenity === true ? 'black': 'gray' }">Stage</p>
          <p *ngIf="fullbuyoutroomactive" [ngStyle]="{'color' : venue.fullbuyoutstageamenity === true ? 'black': 'gray' }">Stage</p>
        </div>
        <div class="col-md-3 col-6">
          <p *ngIf="!fullbuyoutroomactive" [ngStyle]="{'color' : room.televisionamenity === true ? 'black': 'gray' }">Television</p>
          <p *ngIf="fullbuyoutroomactive" [ngStyle]="{'color' : venue.fullbuyouttelevisionamenity === true ? 'black': 'gray' }">Television</p>
        </div>
        <div class="col-md-3 col-6">
          <p *ngIf="!fullbuyoutroomactive" [ngStyle]="{'color' : room.screenprojectoramenity === true ? 'black': 'gray' }">Screen + Projector</p>
          <p *ngIf="fullbuyoutroomactive" [ngStyle]="{'color' : venue.fullbuyoutscreenprojectoramenity === true ? 'black': 'gray' }">Screen + Projector</p>
        </div>
        <div class="col-md-3 col-6">
          <p *ngIf="!fullbuyoutroomactive" [ngStyle]="{'color' : room.naturallightamenity === true ? 'black': 'gray' }">Natural Light</p>
          <p *ngIf="fullbuyoutroomactive" [ngStyle]="{'color' : venue.fullbuyoutnaturallightamenity === true ? 'black': 'gray' }">Natural Light</p>
        </div>
        <div class="col-md-3 col-6">
          <p *ngIf="!fullbuyoutroomactive" [ngStyle]="{'color' : room.wifiamenity === true ? 'black': 'gray' }">WiFi</p>
          <p *ngIf="fullbuyoutroomactive" [ngStyle]="{'color' : venue.fullbuyoutwifiamenity === true ? 'black': 'gray' }">WiFi</p>
        </div>
        <div class="col-md-3 col-6">
          <p *ngIf="!fullbuyoutroomactive" [ngStyle]="{'color' : room.wheelchairaccessibleamenity=== true ? 'black': 'gray' }"> Wheelchair Accessible</p>
          <p *ngIf="fullbuyoutroomactive" [ngStyle]="{'color' : venue.fullbuyoutwheelchairaccessibleamenity === true ? 'black': 'gray' }"> Wheelchair Accessible</p>
        </div>
      </div>
    </div>

    <div id="CapacityInfo" class="Section">
      <div class="SecHead">Capacities</div>
      <div class="row">
        <div class="col-md-3 col-6">
          <p *ngIf="!fullbuyoutroomactive" [ngStyle]="{'color' : room.cocktailstandingseatingoption === true ? 'black': 'gray' }">Cocktail / Standing</p>
          <p *ngIf="fullbuyoutroomactive" [ngStyle]="{'color' : venue.fullbuyoutcocktailstandingseatingoption === true ? 'black': 'gray' }">Cocktail / Standing</p>
        </div>
        <div class="col-md-3 col-6">
          <p *ngIf="!fullbuyoutroomactive" [ngStyle]="{'color' : room.classroomseatingoption === true ? 'black': 'gray' }">Classroom</p>
          <p *ngIf="fullbuyoutroomactive" [ngStyle]="{'color' : venue.fullbuyoutclassroomseatingoption === true ? 'black': 'gray' }">Classroom</p>
        </div>
        <div class="col-md-3 col-6">
          <p *ngIf="!fullbuyoutroomactive" [ngStyle]="{'color' : room.ushapeseatingoption === true ? 'black': 'gray' }">U-Shape</p>
          <p *ngIf="fullbuyoutroomactive" [ngStyle]="{'color' : venue.fullbuyoutushapeseatingoption === true ? 'black': 'gray' }">U-Shape</p>
        </div>
        <div class="col-md-3 col-6">
          <p *ngIf="!fullbuyoutroomactive" [ngStyle]="{'color' : room.sixtyroundseatingoption === true ? 'black': 'gray' }">Rounds</p>
          <p *ngIf="fullbuyoutroomactive" [ngStyle]="{'color' : venue.fullbuyoutsixtyroundseatingoption === true ? 'black': 'gray' }">Rounds</p>
        </div>
        <div class="col-md-3 col-6">
          <p *ngIf="!fullbuyoutroomactive" [ngStyle]="{'color' : room.boardroomseatingoption === true ? 'black': 'gray' }">Boardroom</p>
          <p *ngIf="fullbuyoutroomactive" [ngStyle]="{'color' : venue.fullbuyoutboardroomseatingoption === true ? 'black': 'gray' }">Boardroom</p>
        </div>
        <div class="col-md-3 col-6">
          <p *ngIf="!fullbuyoutroomactive" [ngStyle]="{'color' : room.theaterseatingoption === true ? 'black': 'gray' }">Theater</p>
          <p *ngIf="fullbuyoutroomactive" [ngStyle]="{'color' : venue.fullbuyouttheaterseatingoption === true ? 'black': 'gray' }">Theater</p>
        </div>
        <div class="col-md-3 col-6">
          <p *ngIf="!fullbuyoutroomactive" [ngStyle]="{'color' : room.hallowsquareseatingoption === true ? 'black': 'gray' }">Hallow Square</p>
          <p *ngIf="fullbuyoutroomactive" [ngStyle]="{'color' : venue.fullbuyouthallowsquareseatingoption === true ? 'black': 'gray' }">Hallow Square</p>
        </div>
      </div>
    </div>

    <div id="OtherRooms" class="Section">
      <div class="SecHead">View More Rooms</div>
      <div class="row" *ngIf="!fullbuyoutroomactive && venue.fullbuyoutonline">
        <div class="col-sm-12 col-md-6 col-lg-4 pb-4">
          <div class="card-container">
            <div class="card-container-img">
              <slideshow
                [showArrows]="true"
                [imageUrls]="venue.venueimage_set">
              </slideshow>
            </div>

            <div class="card-container-information" style="cursor: pointer" [routerLink]="['/preview','venue',venue.name,'fullbuyout']">
              <div class="card-container-information__main">
                Full Buyout
              </div>

              <p class="card-container-information__sub">
                <span id="seat-number" class="card-container-information__sub--price">{{ venue.fullbuyoutseatedcapacity }} Seated</span>
                <span id="stand-number" class="card-container-information__sub--room">{{ venue.fullbuyoutstandingcapactiy }} Standing</span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf = "venue.room_set.length > 0">
        <div class="col-sm-12 col-md-6 col-lg-4 pb-4" *ngFor="let r of otherrooms">
          <div class="card-container">
            <div class="card-container-img">
              <slideshow
                [showArrows]="true"
                [imageUrls]="r.roomimage_set">
              </slideshow>
            </div>

            <div style="cursor: pointer;" class="card-container-information" [routerLink]="['/venue',venue.name,r.name]">
              <div class="card-container-information__main">
                {{ r.name }}
              </div>

              <p class="card-container-information__sub">
                <span *ngIf="r.privateroom == true" class="card-container-information__sub--food">Private</span>
                <span *ngIf="r.semiprivateroom == true" class="card-container-information__sub--food">Semi-Private</span>

                <span id="seat-number" class="card-container-information__sub--price">{{ r.seatedcapacity }} Seated</span>
                <span id="stand-number" class="card-container-information__sub--room">{{ r.standingcapacity }} Standing</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
