<div class="container adminbuttons">
  <div class="row">
    <div class="col-12">
      <div class="float-left">
        <h5>Room Preview</h5>
      </div>
      <div class="float-right">
        <button (click)="backtoadmin()" class="btn btn-outline-primary">Back To Admin</button>
      </div>
    </div>
  </div>
  
  <div *ngIf="!choicesload" class="container">
    <div class="row">
      <div class="col-12">
        <slideshow *ngIf="!fullbuyoutroomactive"
                   class="card-container-img"
                   [showArrows]="true"
                   [imageUrls]="room.roomimage_set"
                   [height]="roomheight">
        </slideshow>
        <slideshow *ngIf="fullbuyoutroomactive && venue.venuefullbuyoutphoto_set.length > 0"
                   class="card-container-img"
                   [showArrows]="true"
                   [imageUrls]="venue.venuefullbuyoutphoto_set"
                   [height]="roomheight">
        </slideshow>
        <slideshow *ngIf="fullbuyoutroomactive && venue.venuefullbuyoutphoto_set.length < 1"
                   class="card-container-img"
                   [showArrows]="true"
                   [imageUrls]="venue.venueimage_set"
                   [height]="roomheight">
        </slideshow>
      </div>
    </div>
    <div id="RoomMain" class="Section">
      <div class="row">
        <div class="SecHeadunderline col-6">
          <div class="float-left">
            <a style="text-decoration: underline" [routerLink]="['/preview','venue',venue.name]">{{ venue.name }}</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div *ngIf="!fullbuyoutroomactive" class="col-auto roommain">
          {{ roomname }} |
        </div>
        <div *ngIf="fullbuyoutroomactive" class="col-auto roommain">
          Full Buyout
        </div>
        <div *ngIf="!fullbuyoutroomactive">
          <div class="col-auto STnopadding roommain" *ngIf= "room.privateroom == true">
            Private
          </div>
        </div>
        <div *ngIf="!fullbuyoutroomactive">
          <div class="col-auto STnopadding roommain" *ngIf= "room.semiprivateroom == true">
            Semi-Private
          </div>
        </div>

        <div id="rfpselect">

        </div>
      </div>
      <div class="row caprow">
        <div *ngIf="!fullbuyoutroomactive && room.seatedcapacity != null" id="Seat" class="col-auto roommain"> {{ room.seatedcapacity }} seated |
        </div>
        <div *ngIf="!fullbuyoutroomactive && room.seatedcapacity == null" id="Seat" class="col-auto roommain"> N/A seated |
        </div>
        <div *ngIf="fullbuyoutroomactive && venue.fullbuyoutseatedcapacity != null" id="Seat" class="col-auto roommain"> {{ venue.fullbuyoutseatedcapacity }} seated |</div>
        <div *ngIf="fullbuyoutroomactive && venue.fullbuyoutseatedcapacity == null" id="Seat" class="col-auto roommain"> N/A seated |
        </div>
        <div *ngIf="!fullbuyoutroomactive && room.standingcapacity != null" id="Stand" class="col-auto roommain">{{ room.standingcapacity }} standing  </div>
        <div *ngIf="!fullbuyoutroomactive && room.standingcapacity == null" id="Stand" class="col-auto roommain"> N/A standing </div>
        <div *ngIf="fullbuyoutroomactive && venue.fullbuyoutstandingcapactiy != null" id="Stand" class="col-auto roommain"> {{ venue.fullbuyoutstandingcapactiy }} standing </div>
        <div *ngIf="fullbuyoutroomactive && venue.fullbuyoutstandingcapactiy == null" id="Stand" class="col-auto roommain"> N/A standing </div>
        <br>
        <br>
        <div class="col-12 STnopadding" *ngIf="!fullbuyoutroomactive">
          <div class="col-auto roommain" *ngIf='room.minimumspend !=null'>
            Minimum Spend: ${{room.minimumspend}}
          </div>
          <div class="col-auto roommain" *ngIf='room.minimumspend ==null'>
            Minimum Spend: Please Inquire
          </div>
        </div>
        <div class="col-12 STnopadding" *ngIf="fullbuyoutroomactive">
          <div class="col-auto roommain" *ngIf='venue.fullbuyoutminspend !=null'>
            Minimum Spend: ${{venue.fullbuyoutminspend}}
          </div>
          <div class="col-auto roommain" *ngIf='venue.fullbuyoutminspend ==null'>
            Minimum Spend: Please Inquire
          </div>
        </div>

      </div>

      <div id="RoomDes" class="Section">
        <div class="SecHead">Description</div>
        <p *ngIf="!fullbuyoutroomactive">{{ room.description }}</p>
        <p *ngIf="fullbuyoutroomactive">{{venue.fullbuyoutdescription}}</p>
      </div>

      <div id="AmentityInfo" class="Section">
        <div class="SecHead">Amenities</div>
        <div class="row">
          <div class="col-md-3 col-6">
            <p *ngIf="!fullbuyoutroomactive && room.surroundsoundamenity" class="hasprop">Surround Sound</p>
            <p *ngIf="!fullbuyoutroomactive && !room.surroundsoundamenity" class="nothasprop">Surround Sound</p>
            <p *ngIf="fullbuyoutroomactive && venue.fullbuyoutsurrondsoundamenity" class="hasprop">Surround Sound</p>
            <p *ngIf="fullbuyoutroomactive && !venue.fullbuyoutsurrondsoundamenity" class="nothasprop">Surround Sound</p>
          </div>
          <div class="col-md-3 col-6">
            <p *ngIf="!fullbuyoutroomactive && room.microphoneamenity" class="hasprop">Microphone</p>
            <p *ngIf="!fullbuyoutroomactive && !room.microphoneamenity" class="nothasprop">Microphone</p>
            <p *ngIf="fullbuyoutroomactive && venue.fullbuyoutmicrophoneamenity" class="hasprop">Microphone</p>
            <p *ngIf="fullbuyoutroomactive && !venue.fullbuyoutmicrophoneamenity" class="nothasprop">Microphone</p>
          </div>
          <div class="col-md-3 col-6">
            <p *ngIf="!fullbuyoutroomactive && room.stageamenity" class="hasprop">Stage</p>
            <p *ngIf="!fullbuyoutroomactive && !room.stageamenity" class="nothasprop">Stage</p>
            <p *ngIf="fullbuyoutroomactive && venue.fullbuyoutstageamenity" class="hasprop">Stage</p>
            <p *ngIf="fullbuyoutroomactive && !venue.fullbuyoutstageamenity" class="nothasprop">Stage</p>
          </div>
          <div class="col-md-3 col-6">
            <p *ngIf="!fullbuyoutroomactive && room.televisionamenity" class="hasprop">Television</p>
            <p *ngIf="!fullbuyoutroomactive && !room.televisionamenity" class="nothasprop">Television</p>
            <p *ngIf="fullbuyoutroomactive && venue.fullbuyouttelevisionamenity" class="hasprop">Television</p>
            <p *ngIf="fullbuyoutroomactive && !venue.fullbuyouttelevisionamenity" class="hasprop">Television</p>
          </div>
          <div class="col-md-3 col-6">
            <p *ngIf="!fullbuyoutroomactive && room.screenprojectoramenity" class="hasprop">Screen + Projector</p>
            <p *ngIf="!fullbuyoutroomactive && !room.screenprojectoramenity" class="nothasprop">Screen + Projector</p>
            <p *ngIf="fullbuyoutroomactive && venue.fullbuyoutscreenprojectoramenity" class="hasprop">Screen + Projector</p>
            <p *ngIf="fullbuyoutroomactive && !venue.fullbuyoutscreenprojectoramenity" class="nothasprop">Screen + Projector</p>
          </div>
          <div class="col-md-3 col-6">
            <p *ngIf="!fullbuyoutroomactive && room.naturallightamenity" class="hasprop">Natural Light</p>
            <p *ngIf="!fullbuyoutroomactive && !room.naturallightamenity" class="nothasprop">Natural Light</p>
            <p *ngIf="fullbuyoutroomactive && venue.fullbuyoutnaturallightamenity" class="hasprop">Natural Light</p>
            <p *ngIf="fullbuyoutroomactive && venue.fullbuyoutnaturallightamenity" class="nothasprop">Natural Light</p>
          </div>
          <div class="col-md-3 col-6">
            <p *ngIf="!fullbuyoutroomactive && room.wifiamenity" class="hasprop">WiFi</p>
            <p *ngIf="!fullbuyoutroomactive && !room.wifiamenity" class="nothasprop">WiFi</p>
            <p *ngIf="fullbuyoutroomactive && venue.fullbuyoutwifiamenity" class="hasprop">WiFi</p>
            <p *ngIf="fullbuyoutroomactive && !venue.fullbuyoutwifiamenity" class="nothasprop">WiFi</p>
          </div>
          <div class="col-md-3 col-6">
            <p *ngIf="!fullbuyoutroomactive && room.wheelchairaccessibleamenity" class="hasprop"> Wheelchair Accessible</p>
            <p *ngIf="!fullbuyoutroomactive && !room.wheelchairaccessibleamenity" class="nothasprop"> Wheelchair Accessible</p>
            <p *ngIf="fullbuyoutroomactive && venue.fullbuyoutwheelchairaccessibleamenity" class="hasprop"> Wheelchair Accessible</p>
            <p *ngIf="fullbuyoutroomactive && !venue.fullbuyoutwheelchairaccessibleamenity" class="nothasprop"> Wheelchair Accessible</p>
          </div>
        </div>
      </div>

      <div id="CapacityInfo" class="Section">
        <div class="SecHead">Capacities</div>
        <div class="row">
          <div class="col-md-3 col-6">
            <p *ngIf="!fullbuyoutroomactive && room.cocktailstandingseatingoption" class="hasprop">Cocktail / Standing</p>
            <p *ngIf="!fullbuyoutroomactive && !room.cocktailstandingseatingoption" class="nothasprop">Cocktail / Standing</p>
            <p *ngIf="fullbuyoutroomactive && venue.fullbuyoutcocktailstandingseatingoption" class="hasprop">Cocktail / Standing</p>
            <p *ngIf="fullbuyoutroomactive && !venue.fullbuyoutcocktailstandingseatingoption" class="nothasprop">Cocktail / Standing</p>
          </div>
          <div class="col-md-3 col-6">
            <p *ngIf="!fullbuyoutroomactive && room.classroomseatingoption" class="hasprop">Classroom</p>
            <p *ngIf="!fullbuyoutroomactive && !room.classroomseatingoption" class="nothasprop">Classroom</p>
            <p *ngIf="fullbuyoutroomactive && venue.fullbuyoutclassroomseatingoption" class="hasprop"
            >Classroom</p>
            <p *ngIf="fullbuyoutroomactive && !venue.fullbuyoutclassroomseatingoption" class="nothasprop"
            >Classroom</p>
          </div>
          <div class="col-md-3 col-6">
            <p *ngIf="!fullbuyoutroomactive && room.ushapeseatingoption" class="hasprop">U-Shape</p>
            <p *ngIf="!fullbuyoutroomactive && !room.ushapeseatingoption" class="nothasprop">U-Shape</p>
            <p *ngIf="fullbuyoutroomactive && venue.fullbuyoutushapeseatingoption" class="hasprop">U-Shape</p>
            <p *ngIf="fullbuyoutroomactive && !venue.fullbuyoutushapeseatingoption" class="nothasprop">U-Shape</p>
          </div>
          <div class="col-md-3 col-6">
            <p *ngIf="!fullbuyoutroomactive && room.sixtyroundseatingoption" class="hasprop">60" Rounds</p>
            <p *ngIf="!fullbuyoutroomactive && !room.sixtyroundseatingoption" class="nothasprop">60" Rounds</p>
            <p *ngIf="fullbuyoutroomactive && venue.fullbuyoutsixtyroundseatingoption" class="hasprop">60" Rounds</p>
            <p *ngIf="fullbuyoutroomactive && !venue.fullbuyoutsixtyroundseatingoption" class="nothasprop">60" Rounds</p>
          </div>
          <div class="col-md-3 col-6">
            <p *ngIf="!fullbuyoutroomactive && room.boardroomseatingoption" class="hasprop">Boardroom</p>
            <p *ngIf="!fullbuyoutroomactive && !room.boardroomseatingoption" class="nothasprop">Boardroom</p>
            <p *ngIf="fullbuyoutroomactive && venue.fullbuyoutboardroomseatingoption" class="hasprop">Boardroom</p>
            <p *ngIf="fullbuyoutroomactive && !venue.fullbuyoutboardroomseatingoption" class="nothasprop">Boardroom</p>
          </div>
          <div class="col-md-3 col-6">
            <p *ngIf="!fullbuyoutroomactive && room.theaterseatingoption" class="hasprop">Theater</p>
            <p *ngIf="!fullbuyoutroomactive && !room.theaterseatingoption" class="nothasprop">Theater</p>
            <p *ngIf="fullbuyoutroomactive && venue.fullbuyouttheaterseatingoption" class="hasprop">Theater</p>
            <p *ngIf="fullbuyoutroomactive && !venue.fullbuyouttheaterseatingoption" class="nothasprop">Theater</p>
          </div>
          <div class="col-md-3 col-6">
            <p *ngIf="!fullbuyoutroomactive && room.hallowsquareseatingoption" class="hasprop">Hallow Square</p>
            <p *ngIf="!fullbuyoutroomactive && !room.hallowsquareseatingoption" class="nothasprop">Hallow Square</p>
            <p *ngIf="fullbuyoutroomactive && venue.fullbuyouthallowsquareseatingoption" class="hasprop">Hallow Square</p>
            <p *ngIf="fullbuyoutroomactive && !venue.fullbuyouthallowsquareseatingoption" class="nothasprop">Hallow Square</p>
          </div>
        </div>
      </div>

      <div *ngIf="(!fullbuyoutroomactive && venue.fullbuyoutonline) || otherrooms.length > 0" id="OtherRooms" class="Section">
        <div class="SecHead">View More Rooms</div>
        <div class="row">
          <div *ngIf="!fullbuyoutroomactive && venue.fullbuyoutonline" class="col-sm-12 col-md-6 col-lg-4 pb-4">
            <div class="card-container">
              <div (click)="navigatetoroom('fullbuyout')" class="clickoverlay">
                <!-- overlay div for a clickable slide show frame -->
              </div>
              <div class="card-container-img">
                <slideshow
                  [showArrows]="true"
                  [imageUrls]="venue.venueimage_set">
                </slideshow>
              </div>

              <div class="card-container-information" style="cursor: pointer" [routerLink]="['/venue',venue.name,'fullbuyout']">
                <div class="card-container-information__main">
                  Full Buyout
                </div>

                <p class="card-container-information__sub">
                  <span class="card-container-information__sub--food">Private</span>
                  <span *ngIf="venue.fullbuyoutseatedcapacity != null" id="seat-number" class="card-container-information__sub--price">{{ venue.fullbuyoutseatedcapacity }} Seated</span>
                  <span *ngIf="venue.fullbuyoutseatedcapacity == null" id="seat-number" class="card-container-information__sub--price">N/A Seated</span>
                  <span *ngIf="venue.fullbuyoutstandingcapactiy != null" id="stand-number" class="card-container-information__sub--room">{{ venue.fullbuyoutstandingcapactiy }} Standing</span>
                  <span *ngIf="venue.fullbuyoutstandingcapactiy == null" id="stand-number" class="card-container-information__sub--room">N/A Standing</span>
                </p>
                <div class="col-12">
                  <div class="float-left">
                    <div *ngIf="venue.fullbuyoutminspend == null" class="card-min-spend STnopadding">
                      Minimum Spend : Please Inquire
                    </div>
                    <div *ngIf="venue.fullbuyoutminspend != null" class="card-min-spend STnopadding">
                      Minimum Spend : {{venue.fullbuyoutminspend}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 pb-4" *ngFor="let r of otherrooms; let i = index">
            <div class="card-container">
              <div (click)="navigatetoroom(i)" class="clickoverlay">
                <!-- overlay div for a clickable slide show frame -->
              </div>
              <div class="card-container-img">
                <slideshow
                  [showArrows]="true"
                  [imageUrls]="r.roomimage_set">
                </slideshow>
              </div>

              <div style="cursor: pointer;" class="card-container-information" [routerLink]="['/venue',venue.name,r.name]">
                <div class="card-container-information__main">
                  {{ r.name }}
                </div>

                <p class="card-container-information__sub">
                  <span *ngIf="r.privateroom == true" class="card-container-information__sub--food">Private</span>
                  <span *ngIf="r.semiprivateroom == true" class="card-container-information__sub--food">Semi-Private</span>

                  <span *ngIf="r.seatedcapacity != null" id="seat-number" class="card-container-information__sub--price">{{ r.seatedcapacity }} Seated</span>
                  <span *ngIf="r.seatedcapacity == null" id="seat-number" class="card-container-information__sub--price">{{ r.seatedcapacity }} Seated</span>
                  <span *ngIf="r.seatedcapacity != null" id="stand-number" class="card-container-information__sub--room">{{ r.standingcapacity }} Standing</span>
                  <span *ngIf="r.seatedcapacity == null" id="stand-number" class="card-container-information__sub--room">{{ r.standingcapacity }} Standing</span>
                </p>
                <div class="col-12">
                  <div class="float-left">
                    <div *ngIf="r.minimumspend == null" class="card-min-spend STnopadding">
                      Minimum Spend : Please Inquire
                    </div>
                    <div *ngIf="r.minimumspend != null" class="card-min-spend STnopadding">
                      Minimum Spend : {{r.minimumspend}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


