<div *ngIf="showupdated" class="changesalert alert alert-success alert-dismissible fade show" role="alert">
  <button type="button" class="close" (click)="unshowupdated()" aria-label="close">
    <span aria-hidden="true">&times;</span>
  </button>
  Changes Saved!
</div>
<div *ngIf="!onroompage" id="titlerow" class="row"> <!--name row-->
  <div class="venuetitle col-auto">
    <h4 *ngIf="!activateedittitle"><strong>{{venuename}}</strong></h4>
    <form *ngIf="activateedittitle" (ngSubmit)="editvenuename()" #venuenameform="ngForm">
      <label for="venuenameinput">Edit Title</label>
      <br>
      <input class="form-control"
             type="text"
             id="venuenameinput"
             name="venuenameinput"
             [ngModel]="venuename">
      <br>
      <button type="submit" class="btn-success">Save Changes</button>
      <button (click)="canceledit()" class="btn-danger">Cancel</button>
    </form>
  </div>
  <div class="">
    <a *ngIf="suitsadmin && !activateedittitle" (click)="showedittitle()" class="settingslink"><h4>Edit</h4></a>
  </div>
  <div class="col-auto">
    <a style="cursor: pointer" [href]="domain" target="_blank"><button *ngIf="!deleteconfrimshow && !deleterequestshow" class=" btn previewsubmitbuttons" id="previewbutton">Preview Venue</button></a>
  </div>


  <div class="row">
    <div class="col-3 text-center">
      <h5>
        <strong>Venue Status:
          <span *ngIf="venueobject.online" style=" color: green; font-style: italic " >Public</span>
          <span *ngIf="!venueobject.online" style=" color: red ; font-style: italic ">Hidden</span>
        </strong>
      </h5>
    </div>
    <div *ngIf="suitsadmin" class="col-2">
      <button class="btn" (click)="changestatus()" *ngIf="venueobject.online && !deleteconfrimshow && !deleterequestshow" id="deactivatebutton">Hide Venue</button>
      <button (click)="changestatus()" *ngIf="!venueobject.online && !deleteconfrimshow && !deleterequestshow" class="btn btn-success">Push Public</button>
    </div>
    <div *ngIf="!suitsadmin" class="col-auto">
      <h5>Please email or call us to change the status of your venue</h5>
    </div>
    <div *ngIf="suitsadmin" class="col-2">
      <button (click)="showdeleteconfrim()" *ngIf="!deleteconfrimshow && suitsadmin" class="btn btn-danger">Delete Venue</button>
      <div *ngIf="deleteconfrimshow" class="text-center">
        <h5>Are you sure you want to delete this Venue?</h5>
        <br>
        <button (click)="unshowdeleteconfrim()" class="STButton">Cancel</button>
        <button (click)="deletevenue()" class="btn-danger">Delete</button>
      </div>
    </div>
    <br>
    <br>
    <div class="col-12">
      <div class="text-center">
        <h4>All Changes Saved Automatically</h4>
      </div>
    </div>
  </div>
</div>


<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/admin', permission, 'venue-admin',venuenamelinkready,venueid, 'profile']">Venue Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/admin',permission,'venue-admin', venuenamelinkready, venueid,'venuepage' ]">Venue Page</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/admin',permission,'venue-admin', venuenamelinkready, venueid,'room','list']">Room List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/admin', permission, 'venue-admin', venuenamelinkready, venueid, 'receivedrfps']">Received RFPs</a>
  </li>
</ul>
